<template>
    <div class="main">
        <section class="section billing-section">
            <div class="container">
                <h1>One Last Thing. Billing Information</h1>
                <div class="billing-section__center-side">
                    <div class="form">
                        <p>Get your custom meal plans on lockdown.</p>
                        <p>You won’t be billed until your free 2-week trial is complete.</p>
                        <form>
                            <div class="form-group first">
                                <md-radio v-model="plan" name="plan" value="plan_EMiSVqgvcr8nv2" class="md-primary">
                                    Monthly <em>$8/month ($1.85 per meal plan)</em>
                                </md-radio>
                                <md-radio v-model="plan" name="plan" value="plan_EMiT69ll5oUsJA" class="md-primary">
                                    Annual <em>$80/annual ($1.54 per meal plan)</em>
                                </md-radio>
                            </div> <!-- // .form-group -->
                            <div class="form-group">
                                <label>Name On Card</label>
                                <input type="text" name="card_name" v-model="card_name"/>
                                <span v-if="validationErrors.card_name" class="validation-error">
                                    {{ validationErrors.card_name[0] }}
                                </span>
                            </div> <!-- // .form-group -->
                            <div class="form-group">
                                <label>Card Number</label>
                                <input type="text" name="card_number" v-model="card_number"/>
                                <span v-if="validationErrors.card_number" class="validation-error">
                                    {{ validationErrors.card_number[0] }}
                                </span>
                            </div> <!-- // .form-group -->
                            <div class="col-2">
                                <div class="form-group">
                                    <label>Expiration (MM/YY)</label>
                                    <div class="form-group__date">
                                        <input type="text" name="card_exp_m" max="2" v-model="card_exp_m"/>
                                        /
                                        <input type="text" name="card_exp_y" max="2"  v-model="card_exp_y"/>
                                    </div>
                                    <span v-if="validationErrors.date" class="validation-error">
                                        {{ validationErrors.date }}
                                    </span>
                                </div> <!-- // .form-group -->
                                <div class="form-group">
                                    <label>Security Code</label>
                                    <input type="text" name="card_cvc" max="3" v-model="card_cvc"/>
                                    <span v-if="validationErrors.card_cvc" class="validation-error">
                                        {{ validationErrors.card_cvc[0] }}
                                    </span>
                                </div> <!-- // .form-group -->
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label>Zip Code</label>
                                    <input type="text" name="card_address_zip" v-model="card_address_zip"/>
                                    <span v-if="validationErrors.card_address_zip" class="validation-error">
                                        {{ validationErrors.card_address_zip[0] }}
                                    </span>
                                </div> <!-- // .form-group -->
                            </div> <!-- // .col-2 -->
                            <p v-if="serverErrors" class="alert alert-danger">{{ serverErrors }}</p>
                            <md-button @click="billing" class="md-raised md-accent btn-big" :disabled="submitted">
                                Submit Payment Info.
                            </md-button>
                        </form>
                    </div> <!-- // .form -->
                </div> <!-- // .__center-side -->
            </div> <!-- // .__container -->
        </section>
    </div> <!-- //.main -->
</template>

<script>
  export default {
    name: 'RadioHueColors',
    data: () => ({
        plan: 'plan_EMiSVqgvcr8nv2',
        card_name: '',
        card_number: '',
        card_exp_m: '',
        card_exp_y: '',
        card_cvc: '',
        card_address_zip: '',
        validationErrors: '',
        serverErrors: '',
        submitted: false
    }),
    methods: {
      billing() {
          var self = this;
          var data = {
              plan: this.plan,
              card_name: this.card_name,
              card_number: this.card_number,
              card_exp_m: this.card_exp_m,
              card_exp_y: this.card_exp_y,
              card_cvc: this.card_cvc,
              card_address_zip: this.card_address_zip
          }
          self.submitted = true;

          axios.post("subscribe", data)
              .then(response => {
                  if(response.data.status === 'success') {
                      self.$store.dispatch('getUser')
                      self.$swal({
                          type: 'success',
                          title: 'Good job!',
                          text: 'Check your email for registration confirmation.',
                          padding: '20px',
                          allowOutsideClick: false
                      }).then(function() {
                          self.$router.push('/')
                      });
                  } else {
                      self.$swal({
                          type: response.data.status,
                          title: 'Something went wrong!',
                          text: response.data.errors.message,
                          padding: '20px',
                      })
                  }
              })
              .catch(error => {
                  console.log(error)
                  self.submitted = false
                  self.validationErrors = error.response.data.errors

                  if(self.validationErrors.card_exp_m || self.validationErrors.card_exp_y) {
                      self.validationErrors.date = 'Check card expiration date.'
                  }

                  if(error.response.data.errors.message) {
                      self.serverErrors = error.response.data.errors.message
                  }
              })
          }
      }
  }
</script>
