<template>
    <div class="main">
        <section class="section confirmation-section">
            <div class="container">
                <div class="confirmation-section__block-wrap">
                    <parallax-container>
                        <parallax-element id="anansik-success" :parallaxStrength="25" :type="'translation'">
                            <AnanasikSuccess />
                        </parallax-element>
                    </parallax-container>
                </div>
                <h1>{{ message }}</h1>
                <md-button v-if="status === 'success'" @click="$router.push(nextPage);"  class="md-raised md-accent btn-big">
                    Continue
                </md-button>
            </div>
        </section>
    </div> <!-- //.main -->
</template>
<script>
import AnanasikSuccess from "../svg/AnanasikSuccess.vue"
export default {
    components: {
        AnanasikSuccess,
    },
    data: () => ({
        status: '',
        message: 'Checking your account...',
        serverErrors: '',
        nextPage: '/step/2'
    }),
    methods: {
        request() {
            var token = this.$route.params.token
            var self = this

            axios.get("/user/confirm/" + token)
                .then((response) => {
                    self.$store.dispatch('getUser')
                    self.status = response.data.status
                    self.message = response.data.data.message
                })
                .catch(error => {
                    self.status = error.response.data.status
                    self.message = error.response.data.errors.message
                })
        },
    },
    created() {
        this.request()
    }
}
</script>
