<template>
    <div class="main">
        <section class="section register-section shake">
            <div class="container">
                <div class="container">
                    <Steps :steps="steps" :currentStep="currentStep" />
                    <h1>Are You Drinking On A Nutrient Dense Shake?</h1>
                    <div class="register-section__row">
                        <div class="form">
                            <form>
                                <div v-if="useShake">
                                    <v-select
                                        :items="items"
                                        label="When do you want to drink your shake?"
                                        solo
                                        @change="onChange"
                                    ></v-select>
                                    <v-btn color="primary" @click="nextStep()" class="btn-big" :disabled="submitted">
                                        Continue
                                    </v-btn>
                                </div>
                                <div v-else>
                                    <v-btn color="primary" @click="addShake(true)" class="btn-big" :disabled="submitted">
                                        Yes
                                    </v-btn>
                                    <v-btn color="primary" @click="addShake(false)" class="btn-big" :disabled="submitted">
                                        No
                                    </v-btn>
                                </div>
                                <br>
                                <p>
                                   <em>
                                       Some people drink meal replacement shakes to supplement
                                       their nutrition. We’ll count this as a protein in your plan
                                   </em>
                                </p>
                            </form>
                        </div> <!-- // .form -->
                    </div>  <!-- // .__row -->
                </div> <!-- // .container -->
            </div>
        </section>
    </div> <!-- //.main -->
</template>

<script>
import Steps from "../../components/blocks/Steps.vue"

export default {
    components: {
        Steps
    },
    data: () => ({
        status: '',
        message: '',
        submitted: false,
        steps: [],
        currentStep: 0,
        items: ['Breakfast', 'Snack'],
        useShake: false,
        selectMeal: null
    }),
    methods: {
        addShake(useShake) {
            this.useShake = useShake

            if(useShake == false) {
                this.nextStep()
            }
        },
        nextStep() {
            var self = this
            var data = { 'shake': self.useShake, 'meal': self.selectMeal }
            self.submitted = true

            self.$store.dispatch('getNextStep', data)
            .then(response => {
                self.submitted = false
            }, (error) => {
                console.log(error)
                self.submitted = false
            })
        },
        onChange(value) {
            this.selectMeal = value
        }

    },
    created() {
        this.steps = this.$store.getters.getSteps
        this.currentStep = this.$store.getters.getCurrent
    }
}
</script>
