<template>
    <div class="main">
        <section class="section banner-section">
            <div class="container">
                <div class="banner-section__content">
                    <v-card>
                        <v-card-text>
                            <h1>Meal Planning. Simplified.</h1>
                            <h4>Customized meal plans to fit your life.</h4>
                            <h4>Because you have goals to focus on and this shi* takes time.</h4>
                        </v-card-text >
                        <v-card-actions v-if="!isAuthenticated">
                            <v-btn @click="$router.push('/register')" color="primary" class="btn-extra">Create Account</v-btn>
                            <!-- <v-btn color="secondary" class="btn-extra">Free Trial</v-btn> -->
                            </v-card-actions>
                    </v-card>
                </div> <!-- // .__content -->
            </div> <!-- // .container -->
        </section>
        <section class="section description-section">
            <div class="container">
                <v-layout row wrap>
                    <v-flex xs6>
                        <h3>Section For Simply Fork’d Description.</h3>
                        <p>
                          Description for a little more detail on Simply Fork’d. A boutique catering
                          company and culinary event space in Portland, Oregon.
                        </p>
                        <p>
                          The classically trained chefs honed their craft cooking on
                          both coasts and met while working for the Portland Farmers Market.
                        </p>
                    </v-flex>
                    <v-flex xs6>
                        <h3>Section For Simply Fork’d Description.</h3>
                        <p>
                          Their approach to food reflects a sense of place and ceremony, drawing most of the
                          inspiration from the seasons and local bounty from the land and sea.
                        </p>
                        <p>
                          Known for their emphasis on live-fire cooking and hands-on communal feasts,
                          Jaret and Mona love to turn a meal into an experience.
                        </p>
                    </v-flex>
                </v-layout>
            </div> <!-- // .container -->
        </section>
        <section class="section video-section">
            <div class="container">
                <h1>See How It Works.</h1>
                <div class="video-section__content">
                    <div>
                        <v-btn v-on:click="showAlert" color="secondary" class="md-icon-button btn-play"></v-btn>
                    </div>
                </div> <!-- // .__content -->
            </div> <!-- // .container -->
        </section>
        <section class="section pricing-section">
            <div class="container">
                <h1>Pricing</h1>
                <div class="pricing-section__content">
                    <div class="pricing-section__plan">
                        <h4>Monthly</h4>
                        <strong>$8</strong><small>/Month</small>
                        <p><em>($1.85 per meal plan)</em></p>
                    </div>
                    <div class="pricing-section__plan">
                        <h4>Yearly</h4>
                        <strong>$80</strong><small>/Annualy</small>
                        <p><em>($1.54 per meal plan)</em></p>
                    </div>
                </div> <!-- // .__content -->
            </div> <!-- // .container -->
        </section>
    </div> <!-- // .main -->
</template>

<script>
import ShakeBrowser from "../svg/ShakeBrowser.vue"
import MealPlanBrowser from "../svg/MealPlanBrowser.vue"
import { mapGetters } from "vuex";

export default {
    components: {
        ShakeBrowser,
        MealPlanBrowser,
    },
    data: function() {
        return {
            url: '#'
        }
    },
    methods: {
        showAlert() {
            this.$swal({
                customClass: 'video-modal',
                showConfirmButton: false,
                showCloseButton: true,
                html: '<iframe width="660" height="315" src="https://www.youtube.com/embed/ZbZSe6N_BXs?autoplay=1" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>',
                width: 660,
                padding: '10px'
            });
        }
    },
    computed: {
        ...mapGetters(["isAuthenticated"]),
    }
}
</script>
