<template>
    <div class="main">
        <Recipe :dialog="dialog" :recipeUrl="recipeUrl" @update="displayDialog"/>
        <v-dialog
            v-model="loader"
            hide-overlay
            persistent
            width="300"
        >
            <v-card
                color="primary"
                dark
            >
                <v-card-text>
                    Please stand by
                    <v-progress-linear
                        indeterminate
                        color="white"
                        class="mb-0"
                    ></v-progress-linear>
                </v-card-text>
            </v-card>
        </v-dialog>
        <transition name="fade" mode="out-in">
            <div v-if="loading" id="preloader"></div>
        </transition>
        <section class="section-head">
            <div class="container">
                <div class="section-head__container">
                    <div class="section-head__left-side">
                        <div class="section-head__row-top">
                            <!-- <div class="select">
                                <md-field>
                                    <md-select md-direction="bottom-start" v-model="displayBy" name="display_by" id="display_by" placeholder="Weekly">
                                        <md-option value="weekly">Weekly</md-option>
                                        <md-option value="daily">Daily</md-option>
                                    </md-select>
                                </md-field>
                            </div> -->
                        </div> <!-- // . __row-top-->
                        <div class="section-head__row-bottom">
                            <div class="section-head__date">
                              {{ date }}
                            </div>
                            <v-btn flat v-if="week == 'current' && nextWeek" @click="$router.push('/meal-plan/show/next')" :disabled="disabled" class="btn-transparent">Next Week</v-btn>
                            <v-btn flat v-if="week == 'next'" @click="$router.push('/meal-plan/show')" :disabled="disabled" class="btn-transparent">Current Week</v-btn>
                        </div> <!-- // . __row-bottom-->
                    </div><!-- //.section-head__right-side -->
                    <div class="section-head__right-side">
                        <div class="section-head__row-top">
                            <v-btn @click="$router.push('/meal-plan/next-week')" class="btn-white">
                                Plan Next Week
                            </v-btn>
                        </div> <!-- // . __row-top-->
                        <div class="section-head__row-bottom">
                            <!-- <v-btn flat class="btn-transparent">Meal Plan Tips</v-btn> -->
                            <div class="select">
                                <v-select
                                   :items="printItems"
                                   label="Print"
                                   @change="createPDF"
                                   solo
                                 ></v-select>
                            </div>
                            <!-- <v-btn flat class="btn-transparent">Share My Plan</v-btn> -->
                        </div> <!-- // . __row-bottom-->
                    </div><!-- //.section-head__right-side -->
                </div><!-- //.section-head__container -->
            </div><!-- //.container -->
        </section>
        <section class="section meal-plan-section">
            <div class="container">
                <div class="meal-plan" v-if="mealPlan">
                    <div class="meal-plan__days">
                        <div v-for="plan in mealPlan.daily_plan" class="meal-plan__day">
                            <h5>{{ plan.day }}</h5>
                        </div><!-- //.meal-plan__day -->
                    </div><!-- //.meal-plan__days -->

                    <div class="meal-plan__wrap">
                        <div v-for="(plan, key) in mealPlan.daily_plan" class="meal-plan__meal">
                            <div v-for="meal in plan.meals">
                                <div v-for="recipe in meal">
                                    <a href="#" @click.prevent="getRecipe(recipe.recipe.id)">
                                        {{ recipe.recipe.name }}
                                    </a>
                                    <ul class="meal-plan__containers">
                                        <li v-if="recipe.recipe.containers.red != null"
                                            v-for="n in recipe.recipe.containers.red"
                                            class="meal-plan__containers--red">
                                            red
                                            {{ recipe.recipe.containers.red }}
                                        </li>
                                        <li v-if="recipe.recipe.containers.green"
                                            v-for="n in recipe.recipe.containers.green"
                                            class="meal-plan__containers--green">
                                            green
                                            {{ recipe.recipe.containers.green }}
                                        </li>
                                        <li v-if="recipe.recipe.containers.purple"
                                            v-for="n in recipe.recipe.containers.purple"
                                            class="meal-plan__containers--purple">
                                            purple
                                            {{ recipe.recipe.containers.purple }}
                                        </li>
                                        <li v-if="recipe.recipe.containers.yellow"
                                            v-for="n in recipe.recipe.containers.yellow"
                                            class="meal-plan__containers--yellow">
                                            yellow
                                            {{ recipe.recipe.containers.yellow }}
                                        </li>
                                        <li v-if="recipe.recipe.containers.blue"
                                            v-for="n in recipe.recipe.containers.blue"
                                            class="meal-plan__containers--blue">
                                            blue
                                            {{ recipe.recipe.containers.blue }}
                                        </li>
                                        <li v-if="recipe.recipe.containers.orange"
                                            v-for="n in recipe.recipe.containers.orange"
                                            class="meal-plan__containers--orange">
                                            orange
                                            {{ recipe.recipe.containers.orange }}
                                        </li>
                                        <li v-if="recipe.recipe.containers.grey"
                                            v-for="n in recipe.recipe.containers.grey"
                                            class="meal-plan__containers--grey">
                                            grey
                                            {{ recipe.recipe.containers.grey }}
                                        </li>
                                    </ul>
                                    <v-btn flat icon color="green" class="meal-plan__swap-recipe"
                                           @click="swapRecipe(mealPlan.id, recipe.id, recipe.recipe.id)">
                                        <v-icon>cached</v-icon>
                                        <b>Swap recipe</b>
                                    </v-btn>
                                </div>
                                <h5 v-if="key == 0">
                                    {{ meal[0].meal_type }}
                                </h5>
                            </div>
                        </div><!-- //.meal-plan__meal -->
                    </div><!-- //.meal-plan__wrap -->
                </div><!-- //.meal-plan -->
            </div><!-- //.container -->
        </section>
    </div><!-- //.main -->
</template>

<script>
import * as jsPDF  from "jspdf"
import Recipe from '../modals/Recipe.vue'

export default {
    components: {
        Recipe
    },
    data: () => ({
        loading: false,
        loader: false,
        country: '',
        status: '',
        message: '',
        mealPlan: null,
        date: null,
        displayBy: null,
        dialog: false,
        recipeUrl: null,
        week: 'current',
        nextWeek: false,
        disabled: false,
        pdfComponent: null,
        recipes: null,
        printItems: ['Print All'],
        test: true
    }),
    watch: {
        '$route.params.week': function (week) {
            this.getMealPlan()
        }
    },
    methods: {
        getMealPlan() {
            var self = this
            this.loading = true
            this.disabled = true

            if(this.$route.params.week)
                self.week = this.$route.params.week
            else
                self.week = 'current'

            axios.get("/meal-plan/show/" + self.week + '/')
              .then(response => {
                  let status = response.data.status
                  self.message = response.data.data.message

                  if(status == 'success') {
                      self.mealPlan = response.data.data
                      self.date = self.mealPlan.date
                      self.nextWeek = self.mealPlan.next_week
                  } else {
                      //
                  }

                  self.loader = false
                  self.loading = false
                  self.disabled = false
              })
              .catch(error => {
                  console.log(error.response)
                  self.loading = false
                  self.disabled = false
              })
        },

        getRecipe(recipeUrl) {
            this.recipeUrl = recipeUrl
            this.dialog = true
        },

        displayDialog(dialog) {
            this.dialog = dialog
        },

        createPDF() {
            let pdfName = 'recipes';
            let doc = new jsPDF();
            let self = this
            let url = '/pdf'

            self.loader = true
            self.loading = true

            if(self.$route.params.week == 'next')
                url = '/pdf/next'

            axios({
                url: url,
                method: 'GET',
                responseType: 'blob',
            }).then((response) => {
                const url = window.URL.createObjectURL(new Blob([response.data]));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', 'recipes.pdf');
                document.body.appendChild(link);
                link.click();
                self.loader = false
                self.loading = false
            })
            .catch(error => {
                console.log(error.response)
                self.loader = false
                self.loading = false
            })
        },

        swapRecipe(weekID, mealID, recipeID) {
            let url = 'swap/' + weekID + '/' + mealID + '/' + recipeID
            let self = this
            self.loading = true
            self.loader = true

            axios({
                url: url,
                method: 'GET',
            }).then((response) => {
                if(response.data.status == 'success') {
                    self.getMealPlan()
                } else {

                }
            })
            .catch(error => {
                console.log(error.response)

                Vue.swal({
                    type: 'error',
                    title: error.response.data.errors.message,
                    padding: '20px'
                })
                self.loader = false
                self.loading = false
            })

        }
    },
    created() {
        this.getMealPlan()
    }
}
</script>

<style scoped>
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
</style>
