<template>
    <div class="mail">
        <Head />
        <section class="section my-account">
            <div class="container">
                <div class="my-account__block-wrap">
                    <div class="my-account__details">
                        <div class="my-account__image">
                            <div>
                                <img :src="getUser.avatar" />
                            </div>
                            <input type="file"
                                   id="avatar"
                                   @change="onFileSelected"
                                   />
                            <label for="avatar"></label>
                        </div>
                        <span v-if="validationErrors.avatar"
                              class="validation-error"
                              >
                            {{ validationErrors.avatar[0] }}
                        </span>
                        <v-btn v-if="uploadButton"
                               color="primary"
                               @click="onUpload"
                               :disabled="uploadDisabled"
                               class="btn-avatar"
                               >
                            Upload
                        </v-btn>
                        <div class="my-account__details-top">
                            <strong>{{ getUser.name }}</strong>
                            <p>{{ getUser.email }}</p>

                            <a v-if="!inputPassword"
                               @click.prevent="inputPassword = true; successMessage = null"
                               >
                                Change Password
                            </a>
                            <a v-if="inputPassword"
                               @click.prevent="inputPassword = false; validationErrors = []"
                               >
                                Hide Form
                            </a>

                            <div v-if="inputPassword">
                                <input type="password" v-model="password"/>
                                <span v-if="validationErrors.password"
                                      class="validation-error">
                                    {{ validationErrors.password[0] }}
                                </span>
                                <input type="password"
                                       v-model="password_confirmation"/>
                                <span v-if="validationErrors.password_confirmation"
                                      class="validation-error">
                                    {{ validationErrors.password_confirmation[0] }}
                                </span>
                                <v-btn color="primary"
                                       @click="changePassword"
                                      :disabled="disabled">
                                    Submit
                                </v-btn>
                            </div>
                            <p v-if="successMessage"
                               class="success-message">
                               {{ successMessage }}
                            </p>
                        </div><!-- //.__details-top -->
                        <div class="my-account__details-bottom">
                            <ul>
                                <li class="active">
                                    <a href="#">Nutrition Profile</a>
                                </li>
                                <li>
                                    <a href="#">Billing Info.</a>
                                </li>
                                <li>
                                    <a href="#">Favorited Meals</a>
                                </li>
                            </ul>
                        </div><!-- //.__details-top -->
                    </div><!-- //.__details -->
                    <div class="my-account__meal-details">
                        <EditProfile />
                    </div>
                </div><!-- //.__meal-details -->
            </div>
        </section>
    </div>
</template>
<script>
import Head from '../blocks/Head.vue'
import EditProfile from '../blocks/EditProfile.vue'
import { mapGetters } from "vuex";

export default {
    components: {
        Head,
        EditProfile
    },
    data: () => ({
        inputPassword: false,
        password: null,
        password_confirmation: null,
        selectedFile: null,
        validationErrors: [],
        disabled: false,
        uploadButton: false,
        uploadDisabled: false,
        successMessage: null
    }),
    computed: {
        ...mapGetters(["getUser"]),
    },
    methods: {
        changePassword() {
            let self = this
            let data = {
                password: self.password,
                password_confirmation: self.password_confirmation
            }

            self.disabled = true

            axios.post("/change-password", data)
              .then(response => {
                  let status = response.data.status
                  self.validationErrors = []
                  self.disabled = false

                  if(status == 'success') {
                       self.inputPassword = false
                       self.successMessage = response.data.data.message

                       self.password = null
                       self.password_confirmation = null
                  }
              })
              .catch(error => {
                  self.validationErrors = error.response.data.errors
                  self.disabled = false
              })
        },
        onFileSelected(event) {
            this.selectedFile = event.target.files[0]
            this.getUser.avatar = URL.createObjectURL(this.selectedFile);
            this.uploadButton = true
        },
        onUpload() {
            if(this.selectedFile != null) {
                let self = this
                const fd = new FormData()
                fd.append('avatar', this.selectedFile, this.selectedFile.name)

                self.uploadButton = true

                axios.post("/change-avatar", fd)
                  .then(response => {
                      let status = response.data.status
                      self.validationErrors = []
                      self.uploadDisabled = false
                      self.uploadButton = false
                  })
                  .catch(error => {
                      self.validationErrors = error.response.data.errors
                      self.uploadDisabled = false
                      console.log(error.response)
                  })
            }
        }
    }
}
</script>
