<template>
    <div class="main">
        <section class="section create-plan">
            <div class="container">
                <div class="create-plan__block-wrap">
                    <h1>Get Your Next Week Set-Up</h1>
                    <h4>Let's figure out what's up with your week so we can get you ready to go.</h4>

                    <div class="create-plan__row">
                        <div class="col">
                            <strong>Select the steps you want to customize</strong>
                            <div class="create-plan__customize" :class="{'shake animated': animated}">
                                <div class="row-2">
                                    <v-checkbox disabled v-model="selectedSteps.cheat_day" value="1" id="cheat_day" name="cheat_day" label="Cheat Day"></v-checkbox>
                                    <v-checkbox disabled v-model="selectedSteps.eating_out" value="1" id="eating_out" name="eating_out" label="Eating Out"></v-checkbox>
                                    <v-checkbox disabled v-model="selectedSteps.travel" value="1" id="travel" name="travel" label="Travel"></v-checkbox>
                                </div>
                                <div class="row-2">
                                    <v-checkbox v-model="selectedSteps.shake" value="1" id="shake" name="shake" label="Shake"></v-checkbox>
                                    <v-checkbox disabled v-model="selectedSteps.alcohol_intake" value="1" id="alcohol_intake" name="alcohol_intake" label="Alcohol Intake"></v-checkbox>
                                    <v-checkbox disabled v-model="selectedSteps.ingredients" value="1" id="ingredients" name="ingredient" label="Ingredients"></v-checkbox>
                                </div>
                            </div>
                            <v-btn @click="selectSteps" color="primary" class="btn-big" :disabled="submitted">
                                Customize My Meal Plan
                            </v-btn>
                        </div><!-- //.col -->
                        <div class="col center">
                            <strong>OR</strong>
                        </div><!-- //.col -->
                        <div class="col">
                            <strong v-if="previousSettings">Use your previous settings</strong>
                            <ul v-if="previousSettings" class="create-plan__previous-settings">
                                <li v-for="settings in previousSettings">{{ settings }}</li>
                            </ul>
                            <v-btn color="primary" @click="createPlan" class="btn-big btn-white" :disabled="submitted">
                                Looks Good. Show Me My Plan
                            </v-btn>
                        </div><!-- //.col -->
                    </div><!-- //.create-plan__row -->
                </div><!-- // .__block-wrap -->
            </div><!-- // .container -->
        </section>
    </div><!-- // .main -->
</template>

<script>
export default {
    data: () => ({
        status: '',
        animated: false,
        status: '',
        message: '',
        submitted: false,
        selectedSteps: {
            cheat_day: 0,
            eating_out: 0,
            travel: 0,
            shake: 0,
            alcohol_intake: 0,
            ingredients: 0,
        },
        previousSettings: null
    }),
    methods: {
        createPlan() {
            var self = this
            self.submitted = true

            self.$store.dispatch('createMealPlan', 'next')
            .then(response => {
                // self.status = response.data.status
                // self.message = response.data.data.message
                // console.log(response)
            })
            .catch(error => {
                // self.status = error.response.data.status
                // self.message = error.response.data.errors.message
                self.submitted = false
                console.log(error.response)
            })
        },
        selectSteps() {
            var self = this
            self.submitted = true

            axios.post("/select-steps", this.selectedSteps)
                .then(response => {
                    self.submitted = false
                    self.status = response.data.status
                    self.data = response.data.data

                    if(self.status == 'success' && self.data.length > 0) {
                        this.$store.dispatch('addSteps', self.data)
                            .then((response) => {
                                 self.$router.push('/customize/' + response[0] + '/next')
                            });

                    } else {
                        self.animateShake()
                    }
                })
                .catch(error => {
                    self.submitted = false
                    console.log(error.response)
                    // self.status = error.response.data.status
                    // self.message = error.response.data.errors.message
                    // self.submitted = false
                })
        },
        animateShake: function() {
            var self = this;
            self.animated = true;

            setTimeout(function() {
                self.animated = false;
            }, 1000);
        },
        getPreviousSettings() {
            var self = this

            axios.get("/get-previous-settings")
                .then(response => {
                    if(response.data.status == 'success' && response.data.data.length > 0)
                        self.previousSettings = response.data.data
                })
                .catch(error => {
                    console.log(error.response)
                    // self.status = error.response.data.status
                    // self.message = error.response.data.errors.message
                    // self.submitted = false
                })
        }
    },
    created() {
        this.getPreviousSettings()
    }
}
</script>

<style scoped>
.shake {
    -webkit-animation: kf_shake 0.4s 1 linear;
    -moz-animation: kf_shake 0.4s 1 linear;
    -o-animation: kf_shake 0.4s 1 linear;
}
@-webkit-keyframes kf_shake {
    0% { -webkit-transform: translate(30px); }
    20% { -webkit-transform: translate(-30px); }
    40% { -webkit-transform: translate(15px); }
    60% { -webkit-transform: translate(-15px); }
    80% { -webkit-transform: translate(8px); }
    100% { -webkit-transform: translate(0px); }
}
@-moz-keyframes kf_shake {
    0% { -moz-transform: translate(30px); }
    20% { -moz-transform: translate(-30px); }
    40% { -moz-transform: translate(15px); }
    60% { -moz-transform: translate(-15px); }
    80% { -moz-transform: translate(8px); }
    100% { -moz-transform: translate(0px); }
}
@-o-keyframes kf_shake {
    0% { -o-transform: translate(30px); }
    20% { -o-transform: translate(-30px); }
    40% { -o-transform: translate(15px); }
    60% { -o-transform: translate(-15px); }
    80% { -o-transform: translate(8px); }
    100% { -o-origin-transform: translate(0px); }
}
</style>
