<template>
    <div class="main">
        <section class="section confirmation-section">
            <div class="container">
                <div class="confirmation-section__block-wrap">
                    <parallax-container>
                        <parallax-element id="anansik-success" :parallaxStrength="25" :type="'translation'">
                            <AnanasikSuccess />
                        </parallax-element>
                    </parallax-container>
                </div>
                <h1>{{ message }}</h1>
                <md-button @click="resendConfirmation"  class="md-raised md-accent btn-big" :disabled="submitted">
                    Continue
                </md-button>
            </div>
        </section>
    </div> <!-- //.main -->
</template>
<script>
import AnanasikSuccess from "../svg/AnanasikSuccess.vue"
export default {
    components: {
        AnanasikSuccess,
    },
    data: () => ({
        submitted: false,
        message: 'Did not receive confirmation email? Try again!',
        serverErrors: ''
    }),
    methods: {
        resendConfirmation() {
            var self = this
            self.submitted = true

            axios.post("/resend-confirmation")
                .then((response) => {
                    if(response.data.status === 'success') {
                        self.$swal({
                            type: 'success',
                            title: 'Good job!',
                            text: response.data.status.message,
                            padding: '20px',
                            allowOutsideClick: false
                        }).then(function() {
                            self.$router.push('/')
                        });
                    } else {
                        self.submitted = false
                        self.$swal({
                            type: response.data.status,
                            title: 'Something went wrong!',
                            text: response.data.errors.message,
                            padding: '20px',
                        })
                    }
                })
                .catch(error => {
                    console.log(error);
                    self.submitted = false
                    self.success = error.response.data.status
                    self.message = error.response.data.errors.message
                })
        },
    }
}
</script>
