<template>
    <div class="main">
        <section class="section register-section register">
            <div class="container">
                <h1>Reset Password</h1>
                <div class="register-section__row">
                    <div v-if="successMessage">
                        <p v-if="successMessage" class="alert alert-success">{{ successMessage }}</p>
                    </div>
                    <div v-else class="form">
                        <form>
                            <input type="hidden" name="token" v-model="token" />
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="email" v-model="email"/>
                                <span v-if="validationErrors.email" class="validation-error">
                                    {{ validationErrors.email[0] }}
                                </span>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" name="password" v-model="password"/>
                                <span v-if="validationErrors.password" class="validation-error">
                                    {{ validationErrors.password[0] }}
                                </span>
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" name="password_confirmation" v-model="password_confirmation" autocomplete="new-password"/>
                                <span v-if="validationErrors.password_confirmation" class="validation-error">
                                    {{ validationErrors.password_confirmation[0] }}
                                </span>
                            </div>
                            <p v-if="serverErrors" class="alert alert-danger">{{ serverErrors }}</p>
                            <v-btn color="primary" @click="reset" class="btn-big" :disabled="submitted">Reset Password</v-btn>
                      </form>
                    </div> <!-- // .form -->
                </div>  <!-- // .__row -->
            </div> <!-- // .container -->
        </section>
    </div> <!-- // .main -->
</template>

<script>
export default {
    data() {
        return {
            submitted: false,
            token: '',
            email: '',
            password: '',
            password_confirmation: '',
            validationErrors: [],
            successMessage: null,
            serverErrors: null,
        }
    },
    methods: {
        reset() {
            var self = this
            let data = {
                token: self.token,
                email: self.email,
                password: self.password,
                password_confirmation: self.password_confirmation
            }
            self.submitted = true

            axios.post("/password/reset", data)
              .then(response => {
                  let status = response.data.status
                  self.validationErrors = []
                  self.submitted = false

                  if(status == 'success') {
                       self.successMessage = response.data.data.message

                       self.password = null
                       self.password_confirmation = null
                  }
              })
              .catch(error => {
                  self.validationErrors = error.response.data.errors
                  self.submitted = false

                  if(error.response.data.errors.message)
                      self.serverErrors = error.response.data.errors.message

              })
        }
    },
    mounted: function() {
        this.token = this.$route.params.token
    }
}
</script>
