<template>
    <div class="main">
        <transition name="fade" mode="out-in">
            <div v-if="loading" id="preloader"></div>
        </transition>
        <Head/>
        <section class="section shopping-list-section">
            <div class="container">
                <div class="buttons-wrap">
                    <v-btn>
                        Send My List To Grocery Store
                    </v-btn>
                    <span>(Coming Soon)</span>
                </div>
                <div v-if="shoppingList" class="shopping-list">
                    <div v-for="item in shoppingList"
                         v-if="item.ingredients.length > 0"
                         class="shopping-list__item">

                        <h5>{{ item.category_name }}</h5>
                        <ul>
                            <li v-for="ingredient in item.ingredients">
                                <div v-for="item in ingredient">
                                    <v-checkbox value="1"
                                                id="cheat_day1"
                                                name="cheat_day1"
                                                :label="item.qty + ' ' + item.unit + ' ' + item.ingredient_name">
                                    </v-checkbox>
                                </div>
                            </li>
                        </ul>
                    </div><!-- //.shopping-list -->
                </div><!-- //.shopping-list -->
            </div>
        </section>
    </div>
</template>

<script>
import Head from '../blocks/Head.vue'

export default {
    components: {
        Head
    },
    data: () => ({
        loading: false,
        shoppingList: null
    }),
    methods: {
        getShoppingList() {
            let self = this
            this.loading = true

            axios.get("/shopping-list/")
              .then(response => {
                  let status = response.data.status
                  // self.message = response.data.data.message

                  if(status == 'success') {
                      self.shoppingList = response.data.data
                  } else {
                      //
                  }

                  self.loading = false
                  console.log(self.shoppingList)
              })
              .catch(error => {
                  console.log(error.response)
                  self.loading = false
              })
        }
    },
    created() {
        this.getShoppingList()
    }
}
</script>
<style scoped>
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
</style>
