<template>
    <div class="main">
        <section class="section register-section lifestyle">
            <div class="container">
                <div class="container">
                    <div class="steps">
                        <p>Step 3 of 5</p>
                        <ul>
                            <li class="done"></li>
                            <li class="done"></li>
                            <li class="active"></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <h1>Tell Us Your Nutrition Lifestyle</h1>
                    <div class="register-section__row">
                        <div class="form">
                            <form>
                                <div class="register-section__checkboxes">
                                    <div :class="{'shake animated': animated}">
                                        <v-checkbox v-model="no_restrictions" value="" id="no_restrictions" name="no_restrictions" label="No Restrictions" @change="onCheckboxChange"></v-checkbox>
                                        <v-checkbox v-model="lifestyle.vegetarian" value="5" id="vegetarian" name="vegetarian" label="Vegetarian" @change="onCheckboxChange"></v-checkbox>
                                        <v-checkbox v-model="lifestyle.vegan" value="4" id="vegan" name="vegan" label="Vegan" @change="onCheckboxChange"></v-checkbox>
                                        <v-checkbox v-model="lifestyle.dairy_free" value="1" id="dairy_free" name="dairy_free" label="Dairy free" @change="onCheckboxChange"></v-checkbox>
                                        <v-checkbox v-model="lifestyle.glutten_free" value="2" id="glutten_free" name="glutten_free" label="Glutten Free" @change="onCheckboxChange"></v-checkbox>
                                        <v-checkbox v-model="lifestyle.pescatarian" value="3" id="pescatarian" name="pescatarian" label="Pescatarian" @change="onCheckboxChange"></v-checkbox>
                                    </div>
                                </div>
                                <v-btn color="primary" @click="setLifestyles" class="md-raised md-accent btn-big" :disabled="submitted">
                                    Continue
                                </v-btn>
                                <p>&nbsp;</p>
                                <p>Don’t see what your looking for?</p>
                                <p>Don’t worry. You can swap out a recipe anytime</p>
                                <p>if it doesn’t meet your dietary preferences.</p>
                            </form>
                        </div> <!-- // .form -->
                    </div>  <!-- // .__row -->
                </div> <!-- // .container -->
            </div>
        </section>
    </div> <!-- // .main -->
</template>

<script>
export default {
    data: () => ({
        animated: false,
        submitted: false,
        actionPost: '/step/3',
        nextPage: '/step/4',
        no_restrictions: false,
        lifestyle: {
            vegetarian: 0,
            vegan: 0,
            dairy_free: 0,
            glutten_free: 0,
            pescatarian: 0,
        }
    }),
    methods: {
        setLifestyles() {
            let self = this
            let data = self.lifestyle
            data.no_restrictions = self.no_restrictions
            this.submitted = true

            axios.post(self.actionPost, data)
                .then(response => {
                    if(response.data.status === 'success') {
                        self.$router.push(self.nextPage)
                    } else {
                        self.$swal({
                            type: response.data.status,
                            title: 'Something went wrong!',
                            text: response.data.errors.message,
                            padding: '20px',
                        })
                    }
                })
                .catch(error => {
                    self.submitted = false
                    self.animateShake()
                    // self.serverErrors = error.response.data.errors
                })
        },
        onCheckboxChange(newValue) {
            if(newValue === true) {
                this.lifestyle = {
                    vegetarian: 0,
                    vegan: 0,
                    dairy_free: 0,
                    glutten_free: 0,
                    pescatarian: 0,
                }
            } else if (typeof newValue !== "boolean") {
                this.no_restrictions = 0
            }
        },
        animateShake: function() {
            var self = this;
            self.animated = true;
            setTimeout(function() {
                self.animated = false;
            }, 1000);
        }
    }
}
</script>
<style scoped>
  .shake {
      -webkit-animation: kf_shake 0.4s 1 linear;
      -moz-animation: kf_shake 0.4s 1 linear;
      -o-animation: kf_shake 0.4s 1 linear;
  }
  @-webkit-keyframes kf_shake {
      0% { -webkit-transform: translate(30px); }
      20% { -webkit-transform: translate(-30px); }
      40% { -webkit-transform: translate(15px); }
      60% { -webkit-transform: translate(-15px); }
      80% { -webkit-transform: translate(8px); }
      100% { -webkit-transform: translate(0px); }
  }
  @-moz-keyframes kf_shake {
      0% { -moz-transform: translate(30px); }
      20% { -moz-transform: translate(-30px); }
      40% { -moz-transform: translate(15px); }
      60% { -moz-transform: translate(-15px); }
      80% { -moz-transform: translate(8px); }
      100% { -moz-transform: translate(0px); }
  }
  @-o-keyframes kf_shake {
      0% { -o-transform: translate(30px); }
      20% { -o-transform: translate(-30px); }
      40% { -o-transform: translate(15px); }
      60% { -o-transform: translate(-15px); }
      80% { -o-transform: translate(8px); }
      100% { -o-origin-transform: translate(0px); }
  }
</style>
