<template>
    <div class="main">
        <section class="section register-section lifestyle">
            <div class="container">
                <div class="steps">
                    <p>Step 4 of 5</p>
                    <ul>
                        <li class="done"></li>
                        <li class="done"></li>
                        <li class="done"></li>
                        <li class="active"></li>
                        <li></li>
                    </ul>
                </div>
                <h1>Tell Us The Ingredients You Don't Like</h1>
                <div class="register-section__row">
                    <div class="form">
                        <form>
                            <div class="autosuggest">
                                <strong>Search Ingredient</strong>
                                <vue-autosuggest
                                    :suggestions="filteredOptions"
                                    @focus="focusMe"
                                    @click="clickHandler"
                                    @selected="onSelected"
                                    :limit="6"
                                    :render-suggestion="renderSuggestion"
                                    :get-suggestion-value="getSuggestionValue"
                                    :input-props="{ id:'autosuggest__input', onInputChange: this.onInputChange, placeholder:'Type here...'}"
                                />
                            </div>
                            <ul v-if="selected" class="exclude-ingredients">
                                <transition-group name="fade" mode="out-in">
                                    <li class="exclude-ingredients__item"
                                        v-for="element in selected"
                                        :key="element.item.id">
                                          <span>{{ element.item.name }}</span>
                                    </li>
                                </transition-group>
                            </ul>
                            <v-btn color="primary" @click="setExcludedElements" class="md-raised md-accent btn-big" :disabled="submitted">
                                Continue
                            </v-btn>
                        </form>
                    </div> <!-- // .form -->
                </div> <!-- // .__row -->
            </div> <!-- // .container -->
        </section>
    </div> <!-- // .main -->
</template>

<script>
import { VueAutosuggest } from "vue-autosuggest";

export default {
  components: {
      VueAutosuggest,
  },
  data() {
    return {
      submitted: false,
      btnTitle: 'Continue',
      selected: [],
      ingredientIds: [],
      filteredOptions: [],
      suggestions: [
        {
          data: []
        }
      ],
      actionPost: '/step/4',
      nextPage: '/step/5'
    };
  },
  methods: {
        onInputChange(text, oldText) {
            if (text === null) {
                /* Maybe the text is null but you wanna do
                *  something else, but don't filter by null.
                */
                return;
            }

            // Full customizability over filtering
            const filteredData = this.suggestions[0].data.filter(option => {
                return option.name.toLowerCase().indexOf(text.toLowerCase()) > -1;
            });

            // Store data in one property, and filtered in another
            this.filteredOptions = [{ data: filteredData }];
        },
        clickHandler(item) {
            return;
            // items are selected by default on click, but you can add some more behavior here!
        },
        onSelected(item) {
            this.selected.unshift(item)
            this.ingredientIds.push(item.item.id)
        },
        /**
        * renderSuggestion will override the default suggestion template slot.
        */
        renderSuggestion(suggestion) {
            /* You will need babel-plugin-transform-vue-jsx for this kind of syntax for
            * rendering. If you don't use babel or the jsx transform, then you can create
            * the you can create the virtual node yourself using this.$createElement.
            */
            const character = suggestion.item;
            return character.name;
        },
        /**
        * This is what the <input/> value is set to when you are selecting a suggestion.
        */
        getSuggestionValue(suggestion) {
            // return suggestion.item.name;
        },
        focusMe(e) {
            e.target.value = ''
            e.srcElement.value = ''
        },
        getIngredients() {
            var self = this

            axios.get("search-ingredients")
                .then(response => {
                    if(response.data.status === 'success') {
                        self.suggestions[0].data = response.data.data
                    } else {
                        self.$swal({
                            type: response.data.status,
                            title: 'Something went wrong!',
                            text: response.data.errors.message,
                            padding: '20px'
                        })
                    }
                })
                .catch(error => {
                    self.submitted = false
                    // self.serverErrors = error.response.data.errors
                })
        },
        setExcludedElements() {
            var self = this
            self.submitted = true

            axios.post(self.actionPost, { ids: this.ingredientIds })
                .then(response => {
                    if(response.data.status === 'success') {
                        self.$router.push(self.nextPage)
                    } else {
                        self.$swal({
                            type: response.data.status,
                            title: 'Something went wrong!',
                            text: response.data.errors.message,
                            padding: '20px',
                        })
                    }
                })
                .catch(error => {
                    self.submitted = false
                    console.log(error.response)
                    // self.serverErrors = error.response.data.errors
                })
        }
    },
    created() {
        this.getIngredients()
    }
};
</script>
<style>
.fade-enter {
    opacity:0;
}

.fade-enter-active{
    animation: fadein 1s;
}

.fade-leave {
    opacity: 1;
}

.fade-leave-active {
    animation: fadein 1s reverse;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
</style>
