<template>
    <div class="main">
        <section class="section register-section calorie">
            <div class="container">
                <div class="container">
                    <div class="steps">
                        <p>Step 2 of 5</p>
                        <ul>
                            <li class="done"></li>
                            <li class="active"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <h1>Let’s Get You Setup! What is Your Calorie Target?</h1>
                    <div class="register-section__row">
                        <div class="form">
                            <form>
                                <!-- <md-checkbox v-model="nursing" value="1">Let us know if your nursing</md-checkbox> -->

                                <v-btn color="primary" @click="setCalorieBrackets(1)" class="btn-big" :disabled="submitted">
                                    1,200-1,499 Calories
                                </v-btn>
                                <v-btn color="primary" @click="setCalorieBrackets(2)" class="btn-big" :disabled="submitted">
                                    1,500-1,799 Calories
                                </v-btn>
                                <v-btn color="primary" @click="setCalorieBrackets(3)" class="btn-big" :disabled="submitted">
                                    1,800-2,099 Calories
                                </v-btn>
                                <v-btn color="primary" @click="setCalorieBrackets(4)" class="btn-big" :disabled="submitted">
                                    2,100-2,299 Calories
                                </v-btn>
                                <!-- <v-btn color="primary"  class="btn-big btn-white" :disabled="submitted">
                                    Customize Your Serving Count
                                </v-btn> -->
                                <p>Not sure what your target is?<p>
                                <p>
                                    Use the <a @click.prevent="showDialog = true">Calorie Calculator.</a>
                                </p>
                            </form>
                        </div> <!-- // .form -->
                    </div>  <!-- // .__row -->
                </div> <!-- // .container -->
            </div>
            <Calculator v-model="showDialog" />
        </section>
    </div> <!-- //.main -->
</template>

<script>
import Calculator from '../modals/Calculator.vue'

export default {
    data: () => ({
        target: null,
        nursing: false,
        submitted: false,
        actionPost: '/step/2',
        nextPage: '/step/3',
        showDialog: false
    }),
    components: {
        Calculator
    },
    methods: {
        setCalorieBrackets(targetId) {
            var self = this;
            var data = {
                calorie_brackets: targetId,
                nursing: this.nursing,
            }

            this.submitted = true

            axios.post(self.actionPost, data)
                .then(response => {
                    if(response.data.status === 'success') {
                        self.$router.push(self.nextPage)
                    } else {
                        self.$swal({
                            type: response.data.status,
                            title: 'Something went wrong!',
                            text: response.data.errors.message,
                            padding: '20px',
                        })
                    }
                })
                .catch(error => {
                    self.submitted = false
                    console.log(error.response)
                    // self.serverErrors = error.response.data.errors
                })
        }
    }
}
</script>
