<template>
    <div class="main">
        <section class="section register-section meal-template">
            <div class="container">
                <div class="steps">
                    <p>Step 5 of 5</p>
                    <ul>
                        <li class="done"></li>
                        <li class="done"></li>
                        <li class="done"></li>
                        <li class="done"></li>
                        <li class="active"></li>
                    </ul>
                </div>
                <h1>How Do You Like To Meal Plan?</h1>
                <div class="register-section__row">
                    <div class="form">
                        <form>
                            <v-btn color="primary" @click="setMealTemplate(1)" class="md-raised md-accent btn-big" :disabled="submitted">
                                Repeat All Meals Every Day
                            </v-btn>
                            <!-- <v-btn color="primary" class="md-raised md-accent btn-big" :disabled="submitted">
                                Only Dinners Change
                            </v-btn> -->
                            <v-btn color="primary" @click="setMealTemplate(3)" class="md-raised md-accent btn-big" :disabled="submitted">
                                Alternate M, W, F SU & T, TH SA
                            </v-btn>
                            <v-btn color="primary" @click="setMealTemplate(2)" class="md-raised md-accent btn-big" :disabled="submitted">
                                Leftover Dinner For Lunch
                            </v-btn>
                            <p>&nbsp;</p>
                            <p>Feel free to select more than one option!</p>
                            <p>You can change this week to week.</p>
                        </form>
                    </div> <!-- // .form -->
                </div> <!-- // .__row -->
            </div><!-- //.container -->
        </section>
    </div><!-- //.main -->
</template>
<script>
export default {
    data: () => ({
        submitted: false,
        actionPost: '/step/5',
        nextPage: '/create-plan',
    }),
    methods: {
        setMealTemplate(mealTemplateId) {
            var self = this
            var data = {'meal-template': mealTemplateId}
            this.submitted = true

            axios.post(self.actionPost, data)
                .then(response => {
                    if(response.data.status === 'success') {
                        self.$router.push(self.nextPage)
                    } else {
                        self.$swal({
                            type: response.data.status,
                            title: 'Something went wrong!',
                            text: response.data.errors.message,
                            padding: '20px',
                        })
                    }
                })
                .catch(error => {
                    self.submitted = false
                    console.log(error.response)

                    // self.serverErrors = error.response.data.errors
                })
        }
    }
}
</script>
