<template>
    <div class="main">
        <section class="section register-section register">
            <div class="container">
                <div class="steps">
                    <p>Step 1 of 5</p>
                    <ul>
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <h1>Let's Make You A Boss</h1>
                <div class="register-section__row">
                    <div class="form">
                        <form>
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" name="name" v-model="name"/>
                                <span v-if="validationErrors.name" class="validation-error">
                                    {{ validationErrors.name[0] }}
                                </span>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="email" v-model="email"/>
                                <span v-if="validationErrors.email" class="validation-error">
                                    {{ validationErrors.email[0] }}
                                </span>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" name="password" v-model="password" autocomplete="new-password"/>
                                <span v-if="validationErrors.password" class="validation-error">
                                    {{ validationErrors.password[0] }}
                                </span>
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" name="password_confirmation" v-model="password_confirmation" autocomplete="new-password"/>
                                <span v-if="validationErrors.password_confirmation" class="validation-error">
                                    {{ validationErrors.password_confirmation[0] }}
                                </span>
                            </div>
                            <div class="form-group terms">
                                <v-checkbox v-model="terms" value="1" id="terms" name="terms"></v-checkbox>
                                <span>I understand the proper use and <a @click.prevent="showDialog = true">terms</a>
                                      around my use of the applicaiton.
                                </span>
                                <span v-if="validationErrors.terms" class="validation-error">
                                    {{ validationErrors.terms[0] }}
                                </span>
                            </div>
                            <p v-if="serverErrors" class="alert alert-danger">{{ serverErrors }}</p>
                            <v-btn color="primary" @click="register" class="btn-big" :disabled="submitted">Create Account</v-btn>
                      </form>
                    </div> <!-- // .form -->
                    <!-- <p>By clicking Create Account or Logging In, you agree to our
                        <router-link to="/">Terms of Service.</router-link>
                    </p> -->
                </div>  <!-- // .__row -->
            </div> <!-- // .container -->
            <Terms v-model="showDialog" />
        </section>
    </div> <!-- // .main -->
</template>

<script>
import { mapGetters } from "vuex"
import Terms from '../modals/Terms.vue'

export default {
    data() {
        return {
            submitted: false,
            name: '',
            email: '',
            password: '',
            password_confirmation: '',
            terms: null,
            validationErrors: [],
            serverErrors: null,
            showDialog: false
        }
    },
    components: {
        Terms
    },
    methods: {
        register() {
            var self = this
            self.submitted = true;

            this.$store.dispatch('auth', {
                action: 'register',
                name: this.name,
                email: this.email,
                password: this.password,
                password_confirmation: this.password_confirmation,
                terms: this.terms
            })
            .then((response) => {
                 self.$router.push('/step/2')
            })
            .catch(error => {
                self.submitted = false
                self.validationErrors = error.data.errors

                if(error.data.errors.message)
                    self.serverErrors = error.data.errors.message

            })
        }
    }
}
</script>
