<template>
    <div id="app">
        <v-app>
            <AppHeader />
                <router-view></router-view>
            <AppFooter />
        </v-app>
    </div>
</template>

<script>
import AppHeader from "./components/layout/AppHeader.vue"
import AppFooter from "./components/layout/AppFooter.vue"

export default {
    name: "App",
    components: {
        AppHeader,
        AppFooter
    }
};
</script>
