.billing-section {
    background: url('../images/billing-background.svg') no-repeat center;

    h1 {
        text-align: center;
        margin-bottom: 40px;
    }

    &__center-side {
        display: flex;
        justify-content: center;

        p {
            font-size: 15px;
            line-height: 24px;
            text-align: center;
            margin: 0;
        }
    }

    .form {
        padding-top: 40px;
        margin-bottom: 80px;

        .form-group {
            &.first{
                margin-bottom: 35px;
            }
        }

        .col-2 {
            display: flex;
            justify-content: space-between;

            .form-group {
                input {
                    width: 160px;
                }

                &__date {
                    border: 1px solid $light_grey;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;

                    input {
                        width: 75px;
                        border-width: 0;
                    }
                }
            }
        }

        .md-radio {
            width: 100%;

            em {
                font-size: 14px;
            }
        }
    }

}
