.section {
    position: relative;
    overflow: hidden;

    .container {
        > h1 {
            margin: 35px 0;
        }
    }

    &.register-section {
        padding-top: 50px;
    }
}

.container {
    margin: auto;
    padding: 0 15px;

    @include breakpoint(tablet){
        width: 768px;
    }

    @include breakpoint(laptop){
        width: 992px;
    }

    @include breakpoint(desktop){
        width: 1286px;
    }
}

.row {
    margin: 0 -20px;

    .flex {
        padding: 0 20px;
    }
}

.md-theme-default a:not(.md-button) {
    color: $blue;
}

.v-btn {
    font-family: $font-family-roboto-medium;

    &.btn-extra {
        font-size: 18px;
        min-width: 400px;
        height: 60px;

        &.secondary {
            color: $default_color;
        }
    }

    &.btn-big {
        font-size: 16px;
        margin: 10px auto 10px;
        height: 48px;
        width: 360px;
    }

    &.btn-white {
        background-color: #fff!important;
        box-shadow: none!important;
        color: $default_color!important;
        border: 2px solid $default_color;
        font-family: $font-family-roboto-medium;
        margin-bottom: 20px;
    }

    &.btn-transparent {
        border: 1px solid #fff;

        &:not([disabled]) {
            background-color: transparent;
            color: #fff;
            box-shadow: none;
        }
    }
}

.v-input {
    margin: 0;
    padding: 0;

    .v-label {
        font-family: $font-family-roboto-medium;
        color: $dark_grey;
        transition: none;
        margin: 0;
        letter-spacing: .5px;
    }

    &--is-label-active {
        .accent--text {
            .v-label {
                color: $text_default;
            }
        }
    }

    .v-icon {
        color: $dark_grey;
    }
}

.v-select__selections {
    input {
        border-width: 0;
    }
}

.md-button.md-theme-default.md-raised[disabled] {
    color: #fff;
}


.form-group {
    margin-bottom: 15px;
    position: relative;

    .validation-error {
        display: block;
        position: absolute;
        bottom: -15px;
        color: #ff0000;
        line-height: 1.2;
        font-size: 10px;

        + .validation-error {
            bottom: -25px;
        }
    }
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    border-radius: 4px;
    border-color: $light_chacoral;
    border-style: solid;
    border-width: 1px;
    padding: 2px 15px;
    height: 40px;
    max-width: 360px;
    width: 100%;

    &:focus {
        outline: none;
    }
}

.form {
    background-color: #fff;
    max-width: 585px;
    -webkit-box-shadow: 0px 4px 20px 5px rgba(205,214,220,1);
    -moz-box-shadow: 0px 4px 20px 5px rgba(205,214,220,1);
    box-shadow: 0px 4px 20px 5px rgba(205,214,220,1);

    form {
        padding: 35px 112.5px;
    }

    .md-checkbox {
        justify-content: center;
        width: 100%;
    }

    .v-input {
        .md-radio-container {
            border-color: #D8D8D8;
            margin-top: 2px;
            min-width: 14px;
            height: 14px;
            width: 14px;

            &:after {
              top: 2px;
              right: 2px;
              bottom: 2px;
              left: 2px;
            }
        }

        .md-radio-label {
            color: $dark_grey;
            padding-left: 8px;
            margin: 0;
        }
    }

    .md-radio.md-theme-default.md-checked.md-primary {
        .md-radio-label {
            color: $text_default;
        }
        .md-radio-container {
            border-color: $blue;

            &:after {
                background-color: $blue;
            }
        }
    }

    .md-checkbox .md-checkbox-label {
        padding-left: 8px
    }

    .md-checkbox.md-theme-default .md-checkbox-container {
        border-color: $dark_grey;
    }

    .md-checkbox.md-theme-default.md-checked .md-checkbox-container {
        background-color: $blue;
        border-color: $blue;
    }
}

.select {
    display: inline-block;

    .md-field.md-theme-default {
        &:before,
        &:after {
            content: none;
            display: none;
        }
    }
}

.md-menu-content.md-select-menu {
    min-width: 105px;
    max-width: 105px;
}

.md-menu-content-container {
    background-color: #fff;
    border-radius: 4px;

    .md-list {
        padding: 4px 0;
    }

    .md-list-item-content {
          min-height: 30px;
    }
}

.alert {
    position: relative;
    padding: .5rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

#preloader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .5);
    z-index: 201;
}

.validation-error {
    color: #f00;
    display: block;
    font-size: 12px;
    line-height: 1.2;
}
