.confirmation-section {
    padding: 100px 0;
    text-align: center;

    &__block-wrap {
        background: url('../images/circle.svg') no-repeat center;

        h1 {
            margin-top: 30px;
        }
    }
}

#anansik-success {
    position: relative;

    &:before {
        content: '';
        display: block;
        height: 238px;
        width: 238px;
        position: absolute;
        top:0
    }
}
