.create-plan {
    padding: 100px 0;

    &__block-wrap {
        text-align: center;

        h1 {
            margin-bottom: 30px;
        }

        h4 {
            font-size: 21px;
            margin-bottom: 45px;
        }

        button.btn-big {
            font-size: 16px;
            width: 436px;
        }
    }

    &__row {
        display: flex;
        justify-content: center;
        align-items: center;

        .col {
            display: flex;
            flex-direction: column;

            &.center {
                padding: 0 80px;
            }
        }
    }

    strong {
        display: block;
        margin-bottom: 25px;
        letter-spacing: .82px;
    }

    &__customize {
        display: flex;
        justify-content: center;

        .row-2 {
            width: 150px;

            .md-checkbox {
                margin: 10px 0;
                width: 100%
            }
        }
    }

    &__previous-settings {
        text-align: left;
        list-style: disc;
        margin-left: 15px;
        margin-bottom: 10px;
        
        li {
            font-size: 12px;
            line-height: 24px;
        }
    }
}
