.v-dialog,
.md-dialog {
    &.dialog {

        &-login {
            padding: 60px 90px 30px;

            .buttons-wrap {
                + p {
                    margin-top: 24px;
                    text-align: center;
                }
            }

            .alert {
                + button {
                    display: block;
                    margin: auto;
                }
            }
        }

        &-recipe {
            padding: 60px 35px 0;
            overflow-y: auto;
            min-height: 400px;
            width: 1020px;
        }

        .dialog-head {
            text-align: center;
            font-size: 18px;
            margin-bottom: 70px;
        }

        .form-group {
            input {
                width: 480px;
            }
        }

        .buttons-wrap {
            text-align: center;
            padding-top: 30px;
        }
    }

    .buttons-wrap {
        text-align: center;
        padding-top: 30px;

        button {
            margin: 0;

            + button {
                margin-top: 20px;
            }
        }
    }

    &-calculator {
        border-radius: 0;
        max-width: 655px;
        width: 100%;

        .input-group {
            margin: 0 auto 10px;
            width: 190px;

            > div {
                display: flex;

                span {
                    line-height: 40px;
                }
            }

            .v-input__control {
                min-height: auto;

                input {
                    padding: 8px;
                    max-height: 40px;
                    max-width: 155px;
                }

                .v-input__slot {
                    padding: 0;
                }
            }

            p {
                margin: 0 0 5px 0;
            }
        }

        .v-input {
            display: flex;
            justify-content: center;

            .v-radio {
                &:not(:last-child):not(:only-child) {
                    margin-bottom: 0;
                }
            }

            &--radio-group__input {
                display: block;
                flex-direction: row;

                > div {
                    margin-top: 10px;

                    .v-radio {
                        margin-left: 24px;
                    }
                }
            }

            &--selection-controls__input {
                margin-right: 0;

                i {
                    font-size: 20px;
                }
            }
        }
    }

    .v-card {
        padding: 60px 30px 40px;

        &__title,
        &__text {
            padding: 0;
        }

        &__title {
            text-align: center;
            font-size: 18px;
            margin-bottom: 35px;
            justify-content: center;
        }
    }

    .v-sheet {
        border-radius: 0;
    }
}

.v-dialog .dialog-close,
.md-button.dialog-close {
    background: url('../images/close@3x.png') no-repeat top center;
    background-size: 100%;
    border-radius: 50%;
    top: 20px;
    right: 20px;
    position: absolute;
    min-width: 42px;
    min-height: 42px;
    height: 42px;
    width: 42px;

    .md-ripple {
        padding: 0;
    }

    .md-button-content {
        height: 42px;
    }
}

.v-dialog-terms {
    .v-divider {
        margin: 10px 0;
    }

    .v-card__title {
        margin-bottom: 15px;
    }
}
