.footer-wrap {
    background-color: $default_color;
    color: #fff;

    .footer {
        display: flex;
        padding: 30px 0 70px 0;
        justify-content: space-between;

        p {
            margin: 0;
            line-height: 36px;
        }

        &__left-side {
            padding-top: 5px;

            p {
                a {
                    color: #fff;
                }
            }
        }

        &__social {
            margin-bottom: 35px;
        }

        &__right-side {
            text-align:  right;

            ul {

                li {
                    display: inline-block;
                    vertical-align: middle;

                    &:not(:first-child) {
                        margin-left: 30px;
                    }

                    a {
                        i {
                            display: block;

                            &.icon-facebook {
                                background-image: url('../icons/facebook.svg');
                                height: 26px;
                                width: 26px;
                            }

                            &.icon-twitter {
                                background-image: url('../icons/twitter.svg');
                                height: 24px;
                                width: 30px;
                            }

                            &.icon-instagram {
                                background-image: url('../icons/instagram.svg');
                                height: 26px;
                                width: 26px;
                            }
                        }
                    }
                }
            }
        }
    }
}
