.header-wrap {
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;

    button {
        width: 190px;
    }

    &__logo {
        a {
            color: $default_color!important;
            font-family: $font-family-futura-bold;
            font-size: 21px;
            text-transform: uppercase;
        }
    }

    ul {
        li {
            display: inline-block;
            vertical-align: middle;

           a {
              color: $dark_grey;
              font-family: $font-family-roboto-bold;
           }
        }
    }

    &__auth-user {
        background-color: #fff;
        border-radius: 50%;
        padding-right: 22px;
        height: 48px;
        width: 70px;

        img {
            -o-object-fit: cover;
            object-fit: cover;
            width: 100%!important;
            height: 100%!important;
        }

        a {
            height: 48px;
        }
    }

    &__left-side,
    &__right-side {
        align-items: center;
        display: flex;
        justify-content: space-between;

        ul {
            align-items: center;
            display: flex;
            justify-content: space-between;

            li {
                a:not(.md-button) {
                    color: $dark_grey;

                    &:hover {
                        color: $dark_grey;
                    }
                }

                .md-button {
                    font-family: $font-family-roboto-medium;
                }
            }
        }
    }

    &__left-side {
        ul {
            margin-left: 60px;

            li {
                text-transform: uppercase;

                &:not(:last-child) {
                    margin-right: 50px;
                }
            }
        }
    }

    &__right-side {
        .v-menu__activator {
            a {
                position: relative;

                img {
                    border-radius: 50%;
                }

                &:after {
                    border-style: solid;
                    border-width: 9px 6.5px 0 6.5px;
                    border-color: #99A1B1 transparent transparent transparent;
                    content: "";
                    top: 50%;
                    right: -22px;
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 0;
                }
            }
        }
        ul {
            li {
                &:not(:first-child) {
                    margin-left: 40px;
                }

                a {
                    margin: 0;
                }
            }
        }
    }
}
