.banner-section {
    text-align: center;
    background: url('../images/home-banner.png') no-repeat center;
    background-size: cover;

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, .22);
        z-index: 0;
    }

    &__content {
        display: flex;
        justify-content: center;
        position: relative;
        padding: 70px 0;
        z-index: 1;
    }

    .v-card {
        max-width: 655px;
        width: 100%;

        &__text {
            padding-top: 35px;
            padding-bottom: 30px;

            h1 {
                margin-bottom: 8px;
            }

            h4 {
                margin: 0;
            }
        }

        &__actions {
            flex-direction: column;

            .v-btn {
                margin: 0 0 20px 0;

                &:first-child {
                    margin-bottom: 30px;
                }
            }
        }
    }
}

.description-section {
    background-color: $secondary_background;
    padding: 70px 0;
}

.video-section {
    text-align: center;
    padding: 0 0 75px;

    &__content {
        padding-top: 10px;
        position: relative;

        > div {
            background-color: $default_color;
            position: relative;
            height: 280px;
            margin: auto;
            width: 440px;
        }

        .btn-play {
            border-radius: 50%;
            height: 106px;
            position: absolute;
            width: 106px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &:after {
                content:'';
                display: block;
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 16px 0 16px 32px;
                border-color: transparent transparent transparent $default_color;
            }
        }
    }
}

.pricing-section {
    text-align: center;
    background-color: $secondary_background;

    &__content {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    &__plan {
        background-color: #fff;
        margin: 20px;
        max-width: 410px;
        height: 260px;
        width: 100%;

        strong {
            font-size: 48px;
            font-family: $font-family-roboto-bold;
        }

        small {
            font-size: 18px;
            font-family: $font-family-roboto-bold;
        }

        h4 {
            color: $default_color;
            text-transform: uppercase;
            margin: 15px 0 50px;
        }

        p {
            margin-top: 10px;
        }
    }
}

.swal2-modal.video-modal {
    .swal2-header {
        display: none;
    }
    iframe {
        height: 400px;
    }
}
