.section-head {
    background-color: $default_color;
    color: #fff;

    padding: 45px 0 30px;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__row-top {
        margin-bottom: 35px;
    }

    &__row-bottom {
        display: flex;
        align-items: center;
    }

    &__date {
        font-size: 21px;
        margin-right: 45px;
    }

    &__right-side {
        text-align: right;

        .select {
            margin: 0 25px;
        }
    }

    .btn-white {
        border-width: 0;
        margin: 0;
    }

    .select {
        display: inline-block;

        .v-input__control {
            min-height: 36px;
            height: 36px;

            .v-input__slot {
                border: 1px solid rgb(255, 255, 255);
                border-radius: 4px;
                padding: 1px 0px 1px 10px;
                width: 105px;
                background-color: transparent;
                color: rgb(255, 255, 255);
                box-shadow: none!important;
                margin: 0px;
            }

            .v-label,
            .v-select__selection {
                color: #fff;
                font-size: 14px;
            }

            .v-icon {
                color: #fff!important;
            }
        }

        svg {
            fill: #fff;
        }

        .md-field {
            margin: 0;
            padding: 0;
            min-height: auto;
        }

        .md-select {
            border: 1px solid #fff;
            border-radius: 4px;
            padding: 1px 0 1px 10px;
            width: 105px;

            .icon {
                width: 20px;
            }

        }

        .md-select {
            input { /* Chrome/Opera/Safari */
                -webkit-text-fill-color: #fff;

                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: #fff;
                }
                &::-moz-placeholder { /* Firefox 19+ */
                color: #fff;
                }
                &:-ms-input-placeholder { /* IE 10+ */
                color: #fff;
                }
                &:-moz-placeholder { /* Firefox 18- */
                color: #fff;
                }
            }
        }

        .md-has-value {
            .md-select {
                input {
                    -webkit-text-fill-color: #fff;
                }
            }
        }
    }
}

.meal-plan-section {
    background-color: $light_grey;
    padding: 45px 0 100px;
}

.meal-plan {
    position: relative;

    &__wrap {
        background-color: #fff;
        -webkit-box-shadow: 0px 2px 6px 1px rgba(165,170,192,0.25);
        -moz-box-shadow: 0px 2px 6px 1px rgba(165,170,192,0.25);
        box-shadow: 0px 2px 6px 1px rgba(165,170,192,0.25);
    }

    &__days,
    &__wrap {
        display: flex;
        justify-content: space-between;
        margin-left: 100px;
    }

    &__box {
        background-color: #fff;
    }

    &__meals {
        text-align: left;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: column;
        position: absolute;
        top: 60px;
        bottom: 53px;

        h5 {
            text-transform: capitalize;
        }
    }

    &__meal {
        padding: 20px 5px 45px;
        position: relative;
        min-height: 90px;
        width: 14.2%;

        > div {
            background-color: #fff;
            cursor: pointer;
            line-height: 16px;
            padding: 5px;
            position: relative;
            min-height: 46px;
            max-width: 156px;
            width: 100%;
            -webkit-box-shadow: 0px 2px 4px 0px rgba(165,170,192,0.5);
            -moz-box-shadow: 0px 2px 4px 0px rgba(165,170,192,0.5);
            box-shadow: 0px 2px 4px 0px rgba(165,170,192,0.5);

            h5 {
                position: absolute;
                position: absolute;
                left: -100px;
                top: 50%;
                transform: translateY(-50%);
            }

            > div {
                position: relative;

                &:nth-child(2) {
                    margin-top: 10px;
                }

                > a {
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                ul {
                    transition: all .3s linear;
                }

                &:hover {
                    ul {
                        opacity: 0;
                    }

                    button {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }

            &:not(:last-child) {
                margin-bottom: 60px;
            }
        }

        a {
            color: #3DA9FF;
            font-size: 14px;
            text-transform: capitalize;
        }
    }

    &__swap-recipe {
        border-radius: 50%!important;
        position: absolute!important;
        visibility: hidden;
        opacity: 0;
        bottom: -8px;
        left: 50%;
        transition: all .2s linear;
        transform: translateX(-50%);

        b {
            position: ABSOLUTE;
            font-size: 11px;
            display: block;
            background: rgba(0,0,0,0.7);
            padding: 4px 6px;
            border-radius: 6px;
            color: #fff;
            top: -30px;
            font-weight: 400;
            z-index: 3;
        }
    }

    &__day {
        text-transform: uppercase;
        width: 14.28%;

        .meal-plan__meal {
            padding-top: 20px;
        }

        h5 {
            margin: 0;
            text-align: center;
        }
    }

    &__containers {
        display: flex;

        li {
            margin: 5px;
            font-size: 0;
            color: transparent;
            overflow: hidden;
            height: 10px;
            width: 10px;
            border-radius: 50%;

            &:first-child {
                margin-left: 0;
            }
        }

        &--red {
            background-color: #D91917;
        }
        &--green {
            background-color: #00B659;
        }
        &--purple {
            background-color: #8233CA;
        }
        &--yellow {
            background-color: #FFD300;
        }
        &--blue {
            background-color: #0080E8;
        }
        &--orange {
            background-color: #F38903;
        }
        &--grey {
            background-color: #808080;
        }
    }
}
