@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@mixin breakpoint($point) {
		@if $point == desktop {
				@media (min-width: 1256px) { @content ; }
		}
		@else if $point == laptop {
				@media (min-width: 992px) { @content ; }
		}
		@else if $point == tablet {
				@media (min-width: 768px) { @content ; }
		}
		@else if $point == phablet {
				@media (min-width: 37.5em)  { @content ; }
		}
		@else if $point == mobileonly {
				@media (max-width: 37.5em)  { @content ; }
		}
}
