.my-account {
    padding: 90px 0;

    &__block-wrap,
    &__col-wrap {
        display: flex;
    }

    &__block-wrap {
        justify-content: space-between;
    }

    &__col-wrap {
        margin-bottom: 40px;

        .col {
            display: flex;
            flex-direction: column;
            padding-right: 20px;
        }

        &:first-child {
            > div {
                margin-left: auto;

                button {
                    margin-left: 25px;
                    width: 140px;
                }

                a {
                    color: $default_color;
                    font-family: $font-family-roboto-medium;
                }
            }

        }

        input[type="text"] {
            width: 155px;
        }

        .v-input {
            &.v-select {
                .v-input__slot {
                    border: 1px solid $light_chacoral;
                    box-shadow: none!important;
                    border-radius: 4px;
                    height: 40px;
                }

                .v-select__selection--comma {
                    &:not(:first-child) {
                        display: none;
                    }
                }
            }

            &.v-text-field--solo {
                .v-input__control {
                    min-height: 40px;
                }
            }

            .v-text-field__details {
                display: none;
            }

            &--selection-controls__input {
                margin-right: 0;
                margin: auto;

                i {
                    font-size: 16px;
                    margin: auto;
                }
            }

            .v-messages {
                display: none;
            }
        }

        &:not(:last-child) {
            .col {
                width: 33.3333%;
            }
        }

    }

    &__image {
        background-color: #fff;
        border-radius: 50%;
        height: 124px;
        margin-top: -70px;
        position: relative;
        width: 124px;
        -webkit-box-shadow: 0px 4px 4px 0px rgba(205,214,220,1);
        -moz-box-shadow: 0px 4px 4px 0px rgba(205,214,220,1);
        box-shadow: 0px 4px 4px 0px rgba(205,214,220,1);

        > div {
            border-radius: 50%;
            overflow: hidden;
            width: 124px;
            height: 124px;
        }

        img {
            -o-object-fit: cover;
            object-fit: cover;
            width: 100%!important;
            height: 100%!important;
        }

        input[type="file"] {
            display: none;
        }

        label[for='avatar'] {
            border-radius: 4px;
            bottom: 15px;
            cursor: pointer;
            position: absolute;
            height: 28px;
            width: 32px;
            right: -6px;
            background-color: #fff;
            margin: 0;
            -webkit-box-shadow: 0px 2px 4px 0px rgba(205,214,220,0.5);
            -moz-box-shadow: 0px 2px 4px 0px rgba(205,214,220,0.5);
            box-shadow: 0px 2px 4px 0px rgba(205,214,220,0.5);

            &:before {
                content: '';
                background: url('../images/avatar.png') no-repeat center;
                background-size: 20px 16px;
                display: block;
                margin: 6px auto;
                height: 16px;
                width: 20px;
            }
        }
    }

    &__details-bottom {
        ul {
            li {
                margin-bottom: 15px;

                a {
                   font-family: $font-family-roboto-bold;

                   &:not(.md-button) {
                      color: $dark_grey;
                   }

                   &:hover {
                      color: $default_color;
                   }
                }

                &.active {
                    a {
                        color: $default_color;
                    }
                }
            }
        }
    }

    &__details,
    &__meal-details {
        background-color: #fff;
        padding: 20px;
        position: relative;
        -webkit-box-shadow: 0px 4px 20px 5px rgba(205,214,220,0.5);
        -moz-box-shadow: 0px 4px 20px 5px rgba(205,214,220,0.5);
        box-shadow: 0px 4px 20px 5px rgba(205,214,220,0.5);
    }

    &__details {
        width: 35%;

        button.btn-avatar {
            display: block;
            margin-top: 15px;
            margin-left: 18px;
        }

        .success-message {
            color: #0db50d;
            margin-top: 10px;
        }
    }

    &__meal-details {
        width: 63%;

        strong {
            text-transform: uppercase;

            + span {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .v-input--radio-group__input {
            flex-direction: row;

            .v-radio:not(:last-child):not(:only-child) {
                margin-bottom: 0;
            }
        }
    }

    &__details-bottom,
    &__details-top {
        padding: 25px 0;
    }

    &__details-bottom {
        border-top: 1px solid #D8D8D8;
    }

    &__details-top {
        input[type="password"] {
            margin-top: 10px;

            + button {
                margin-top: 10px;
            }
        }
    }

}
