.recipe {
    display: flex;

    .col-left {
        position: relative;
        width: 30%;
    }

    .col-right {
        padding-left: 15px;
        width: 70%;
    }

    &__action {
        display: flex;
        flex-direction: column;
        padding-top: 25px;
        position: relative;
        text-align: center;
        width: 100%;

        button {
            border-radius: 0;
            border-bottom: 1px solid $dark_grey;
            height: 60px;

            .md-button-content {
                color: $dark_grey;
                font-family: $font-family-roboto-medium;
                font-size: 16px;
                padding: 16px 0;
            }
        }

        strong {
          font-weight: 400;
          font-size: 14px;
          margin-bottom: 10px;
        }
    }

    &__rate {
        text-align: center;
        margin-top: -28px;

        button {
            height: 58px;
            min-width: 58px;
            overflow: hidden;
            width: 58px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;

            .md-ripple {
                padding: 0;
            }

            &.btn-like {
                margin-right: 30px;
            }

            &.btn-dislike,
            &.btn-like {
                position: relative;

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    height: 42px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 35px;
                }
            }

            &.btn-dislike {
                &:after {
                    background: url('../images/dislike@3x.png') no-repeat center;
                    background-size: 100%;

                }
            }

            &.btn-like {
                &:after {
                    background: url('../images/like@3x.png') no-repeat center;
                    background-size: 100%;
                }
            }
        }
    }

    &__lifestyle {
        display: flex;

        li {
            height: 20px;
            margin-right: 8px;
            overflow: hidden;
            width: 20px;

            i {
                display: block;
                height: 20px;
                width: 20px;

                &.icon {
                    &-dairy-free {
                        background: url('../images/dairy-free.png') no-repeat center;
                        background-size: 100%;
                    }

                    &-gluten-free {
                        background: url('../images/gluten-free.png') no-repeat center;
                        background-size: 100%;
                    }

                    &-low-carb {
                        background: url('../images/low-carb.png') no-repeat center;
                        background-size: 100%;
                    }

                    &-paleo {
                        background: url('../images/paleo.png') no-repeat center;
                        background-size: 100%;
                    }

                    &-pescatarian {
                        background: url('../images/pescatarian.png') no-repeat center;
                        background-size: 13px;
                    }

                    &-vegan {
                        background: url('../images/vegan.png') no-repeat center;
                        background-size: 100%;
                    }

                    &-vegetarian {
                        background: url('../images/vegetarian.png') no-repeat center;
                        background-size: 100%;
                    }
                }
            }
        }
    }

    h3 {
        font-size: 21px;
        margin: 5px 0;
    }

    h5 {
        text-transform: uppercase;
        margin: 0 0 8px 0;

        span {
            text-transform: lowercase;
            font-family: $font-family-roboto-regular;
            font-size: 14px;
            font-weight: 300;
        }
    }

    &__servings,
    &__cooking-time {
        display: flex;
        font-size: 13px;
    }

    &__servings {
        margin-bottom: 20px;

        ul {
            display: flex;
            margin-left: 15px;

            li {
                border-radius: 50%;
                color: $dark_grey;
                height: 22px;
                text-align: center;
                line-height: 1.7;
                width: 22px;

                &.active {
                    background-color: #3DA9FF;
                    color: #fff;
                }

                &:not(:last-child) {
                    margin-right: 5px;
                }

            }
        }
    }

    &__cooking-time {
        margin-bottom: 20px;

        > div {
            align-items: center;
            display: flex;
            margin-right: 40px;

            .icon {
                background: url('../images/prep.png') no-repeat top center;
                background-size: 100%;
                display: inline-block;
                height: 15px;
                margin-right: 5px;
                line-height: 1;
                width: 15px;

                + span {
                    margin-right: 10px;
                }
            }
        }
    }

    &__ingredients {
        margin-bottom: 15px;


        &--title {
            display: flex;

            h5 {
                width: 50%;

                &:last-child {
                    margin-left: 30px;
                }
            }
        }


        ul {
            li {
                margin-bottom: 10px;
                display: flex;

                div {
                    display: flex;
                    margin-left: 30px;

                    > span {
                        align-items: center;
                        display: flex;
                        margin-right: 20px;

                        i {
                            margin-right: 10px;
                        }
                    }
                }

                > span,
                div {
                    width: 50%;
                }
            }
        }

        i {
            border-radius: 50%;
            display: block;
            height: 15px;
            margin-top: -1px;
            width: 15px;
        }

        &--red {
            background-color: #D91917;
        }
        &--green {
            background-color: #00B659;
        }
        &--purple {
            background-color: #8233CA;
        }
        &--yellow {
            background-color: #FFD300;
        }
        &--blue {
            background-color: #0080E8;
        }
        &--orange {
            background-color: #F38903;
        }
        &--grey {
            background-color: #808080;
        }
    }

    &__preparation {
        > div {
            margin-top: -15px;
            white-space: pre-line;
        }
    }

    &__preparation,
    &__notes,
    &__information {
        margin-bottom: 25px;
    }
}
