.register-section {
    &:before {
        background: url('../images/register-background.svg') repeat-y;
        background-size: 100%;
        content: '';
        display: block;
        position: absolute;
        top: -100px;
        bottom: 0;
        right: 0;
        left: 70%;
        z-index: -1;
    }

    h1 {
        margin-bottom: 40px;
    }

    h1,
    .steps {
        text-align: center;
    }

    .steps {
        ul {
            li {
                background-color: $light_grey;
                border-radius: 50%;
                display: inline-block;
                height: 12px;
                width: 12px;

                &:not(:last-child) {
                    margin-right: 15px;
                }

                &.active {
                    background-color: $default_color;
                }

                &.done {
                    background-color: $dark_grey;
                }
            }
        }
    }

    &__row {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 50px;
    }

    &.register {
        .register-section__left-side {
            &:before {
                background: url('../images/rectangle.svg') no-repeat center;
                content: '';
                display: block;
                height: 590px;
                top: -25px;
                left: 20px;
                width: 590px;
                position: absolute;
                z-index: -2;
            }
        }
    }

    &.calorie {
        .register-section__left-side {
            &:before {
                background: url('../images/triangle.svg') no-repeat center;
                content: '';
                display: block;
                height: 570px;
                top: -10px;
                left: 65px;
                width: 745px;
                position: absolute;
                z-index: -2;
            }
        }

        .register-section__right-side {
            text-align: center;

            .md-checkbox {
                color: $dark_grey;
               justify-content: center;
                width: 100%;
            }
        }
    }

    &.lifestyle {
        .register-section__left-side {
            &:before {
                background: url('../images/circle2x.svg') no-repeat center;
                content: '';
                display: block;
                height: 460px;
                top: 30px;
                right: -10px;
                width: 460px;
                position: absolute;
                z-index: -2;
            }
        }
    }

    .exclude-ingredients {
        margin-top: 10px;

        &__item {
            padding: 5px 15px;
        }
    }

    .autosuggest {
        position: relative;
        z-index: 9;

        strong {
            display: block;
            text-align: center;
            margin: 10px 0;
        }

        &__results-container {
            position: absolute;
            width: 100%;

            li {
                cursor: pointer;
                padding: 10px 15px;
                transition: background-color .3s linear;

                &:hover {
                    background-color: $light_grey;
                }
            }
        }

        &__results {
            background-color: #fff;
            border: 1px solid $light_chacoral;
            border-top: 0;
            padding: 10px 0;
        }
    }

    &.meal-template {
        .register-section__left-side {
            &:before {
                background: url('../images/polygon.svg') no-repeat center;
                content: '';
                display: block;
                height: 500px;
                top: 30px;
                right: -10px;
                width: 501px;
                position: absolute;
                z-index: -2;
            }
        }
    }

    &__left-side {
        padding: 65px 0 90px 65px;
        position: relative;
        display: flex;
        justify-content: center;
        width: 50%;
    }

    &__right-side {
        width: 50%;

        p {
            text-align: center;
            font-size: 15px;
        }
    }

    .form {
        margin-bottom: 28px;

        .md-checkbox {
            text-align: center;
            width: 100%;
        }

        p {
            margin: 0;
            text-align: center;
            line-height: 24px;
        }
    }

    &__checkboxes {
        text-align: center;

        > div {
            display: inline-block;
        }
    }

    .form-group.terms {
        display: flex;

        .v-messages {
            display: none;
        }
    }

}
