html {
    body {
        letter-spacing: normal;
    }

    .theme--light.application {
        background-color: #fff;
    }

    .application {
        color: $text_default;
        font-family: $font-family-roboto-regular;
        font-size: 16px;
        line-height: 26px;
    }

    &.md-theme-default {
        background-color: #fff!important;

        a:not(.md-button) {
            &:hover {
              text-decoration: none;
            }
        }
    }
}

a,
button {
    &.v-btn {
        border-radius: 4px;
        text-transform: capitalize;
        margin: 0;
        cursor: pointer;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

strong,
b {
    font-family: $font-family-roboto-bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-roboto-bold;
    line-height: 32px;
}

h1 {
    font-size: 36px;
    letter-spacing: 1.65px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
    letter-spacing: .82px;
}

h5 {
    font-size: 16px;
}

input {
    font-size: 16px;
    font-family: $font-family-roboto-regular;
}
