.shopping-list-section {
    .buttons-wrap {
        text-align: right;
        color: $light_chacoral;
        padding: 25px;

        button.v-btn {
            background-color: $light_chacoral!important;
            box-shadow: none;
            color: #fff;
            font-family: $font-family-roboto-medium;
        }

        span {
            font-style: italic;
        }
    }
}

.shopping-list {
    display: flex;
    flex-wrap: wrap;
    &__item {
        margin-bottom: 30px;
        width: 33.33333%;

        h5 {
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        .v-messages {
            display: none;
        }
    }
}
