
// Body
$body-bg: #fff;

// Typography
$font-family-futura-bold: "FuturaBold", sans-serif;
$font-family-roboto-regular: "RobotoRegular", sans-serif;
$font-family-roboto-medium: "RobotoMedium", sans-serif;
$font-family-roboto-bold: "RobotoBold", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$default_color: #C7DAD1;
$secondary_background: #EEF2F4;
$pink: #F93374;
$blue: #3ECFFE;
$dark_grey: #99A1B1;
$light_grey: #EEF2F4;
$charcoal: #525361;
$light_chacoral: #DEE5EF;

$grey_background: #EEF2F4;

$text_default: #1F1E1E;
