<template>
    <div class="footer-wrap">
        <div class="container">
            <div class="footer">
                <div class="footer__left-side">
                    <!-- <p><a href="">Terms & Conditions</a></p>
                    <p><a href="">Privacy Policy</a></p> -->
                    <!-- <p>© Copyright Kitchen Boss</p> -->
                </div> <!-- // .__left-side -->
                <div class="footer__right-side">
                    <!-- <ul class="footer__social">
                        <li>
                            <a href="#">
                                <i class="icon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="">
                                <AppStore />
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <GooglePlay />
                            </a>
                        </li>
                    </ul> -->
                </div> <!-- // .__right-side -->
            </div> <!-- // .footer -->
        </div> <!-- // .container -->
    </div> <!-- // .footer-wrap -->
</template>
<script>
import AppStore from '../svg/app-store.vue'
import GooglePlay from '../svg/google-play.vue'

export default {
  data: function() {
    return {
      url: '#'
    }
  },
  components: {
    AppStore,
    GooglePlay
  },
};
</script>
