<template>
    <div class="header-wrap">
        <div class="container">
            <div class="header">
                <div class="header__left-side">
                    <div class="header__logo">
                        <router-link to="/" class="logo">
                            Simply Fork'd
                        </router-link>
                    </div><!-- // .__header-logo -->
                    <nav class="header__nav">
                        <ul>
                            <!-- <li>
                                <a href="">About us</a>
                            </li>
                            <li>
                                <a href="">Blog</a>
                            </li>
                            <li>
                                <a href="">Help</a>
                            </li> -->
                            <li v-if="isAuthenticated">
                                <router-link to="/meal-plan/show">Meal Plan</router-link>
                            </li>
                            <li v-if="isAuthenticated">
                                <router-link to="/shopping-list">Shopping List</router-link>
                            </li>
                        </ul>
                    </nav>
                </div><!-- // .__left-side -->
                <div class="header__right-side">
                    <div v-if="!isAuthenticated" class="header__auth-links">
                        <ul>
                            <li>
                                <a href="#" @click.prevent="showDialog = true; return false">Log In</a>
                            </li>
                            <li>
                                <v-btn color="primary" @click="$router.push('/register')">Create Account</v-btn>
                            </li>
                        </ul>
                    </div><!-- // .__auth-links -->
                    <div v-if="isAuthenticated" class="header__auth-user">
                        <v-menu offset-y
                                content-class="dropdown-menu"
                                transition="slide-y-transition">
                              <a slot="activator">
                                  <img :src="getUser.avatar" />
                              </a>
                              <v-card>
                                <v-list dense>
                                    <v-list-tile>
                                        <router-link to="/my-account">
                                            My account
                                        </router-link>
                                    </v-list-tile>
                                    <v-list-tile>
                                        <v-list-tile-title>
                                            <a @click.prevent="logout">Logout</a>
                                        </v-list-tile-title>
                                    </v-list-tile>
                                </v-list>
                            </v-card>
                        </v-menu>
                    </div><!-- // .__auth-user -->
                </div><!-- // .__left-side -->
            </div><!-- // .header -->
        </div><!-- // .container -->
        <div v-if="!isAuthenticated">
            <Login :dialog="showDialog" @update="displayDialog"/>
        </div>
    </div>
</template>

<script>
import Logo from '../svg/Logo.vue'
import Login from '../modals/Login.vue'
import { mapGetters } from "vuex";

export default {
    data: function() {
        return {
            on: true,
            url: '#',
            showDialog: false,
        }
    },
    components: {
        Logo,
        Login
    },
    methods: {
        logout() {
            this.$store.dispatch('logout')
        },

        displayDialog(dialog) {
            this.showDialog = dialog
        }
    },
    created: function() {
        this.$store.dispatch('getUser')
        // console.log();
        // var self = this

        // this.$store.dispatch('getUser').then((response) => {
        //     if(response.data.status === 'success') {
        //         var user = response.data.data
        //
        //         if(user.confirmed == 0) {
        //             self.$router.push('/billing')
        //         }
        //
        //     }
        // })

    },
    computed: {
        ...mapGetters(["isAuthenticated", "getUser"]),
    }

};
</script>

<style lang="scss" scoped>
    .md-dialog {
        max-width: 768px;
    }
</style>
