<template>
    <div v-if="data">
        <div class="my-account__col-wrap">
            <div>
                <a @click.prevent="update = false;" v-if="update">Cancel</a>
                <v-btn v-if="!update" color="primary" @click="update = true">
                    Update
                </v-btn>
                <v-btn v-if="update" color="primary" @click="updateData" :disabled="disabled">
                    Save
                </v-btn>
            </div>
        </div>
        <div class="my-account__col-wrap" >
            <div class="col">
                <strong>Age</strong>
                <span v-if="!update">
                    {{ data.user.age ? data.user.age : 'Let Us Know' }}
                </span>
                <input v-else type="text" v-model="data.user.age"/>
                <span v-if="validationErrors.age" class="validation-error">
                    {{ validationErrors.age[0] }}
                </span>
            </div>
            <div class="col">
                <strong>Gender</strong>
                <span v-if="!update">
                    {{ data.user.gender ? data.user.gender : 'Let Us Know' }}
                </span>
                <v-radio-group v-else v-model="data.user.gender">
                    <v-radio label="Male" value="Male"></v-radio>
                    <v-radio label="Female" value="Female"></v-radio>
                </v-radio-group>
                <span v-if="validationErrors.gender" class="validation-error">
                    {{ validationErrors.gender[0] }}
                </span>
            </div>
            <div class="col">
                <strong>Nutrition</strong>
                <span v-if="!update">
                    <span v-if="data.selected_lifestyles.length > 0">
                        <span v-for="lifestyle in data.selected_lifestyles">
                            {{ lifestyle.name }}
                        </span>
                    </span>
                    <span v-else >
                        No Restrictions
                    </span>
                </span>
                <v-select
                   v-else
                   v-model="data.selected_lifestyles"
                   :items="data.lifestyles"
                   :menu-props="{ maxHeight: '400' }"
                   label="Select"
                   multiple
                   item-text="name"
                   item-value="id"
                   solo
                 >
               </v-select>
               <span v-if="validationErrors.lifestyles" class="validation-error">
                   {{ validationErrors.lifestyles[0] }}
               </span>
            </div>
        </div>
        <div class="my-account__col-wrap">
            <div class="col">
                <strong>Nutrition Goal</strong>
                <span v-if="!update">Maintain Weight</span>
                <v-select
                   v-else
                   :items="lifestyles"
                   label="Select"
                   solo
                 ></v-select>
            </div>
            <div class="col">
                <strong>Calorie Bracket</strong>
                <span v-if="!update">
                    {{ data.user.calorie ? data.user.calorie.range_calories : 'Let Us Know' }}
                </span>
                <v-select
                   v-else
                   v-model="data.user.calorie"
                   :items="data.calories"
                   label="Select"
                   item-text="range_calories"
                   item-value="id"
                   solo
                 ></v-select>
                 <span v-if="validationErrors.calories" class="validation-error">
                     {{ validationErrors.calories[0] }}
                 </span>
            </div>
        </div>
        <div class="my-account__col-wrap">
            <div class="col">
                <strong>Measurement System</strong>
                <span v-if="!update">
                    {{ data.user.measurement ? data.user.measurement + ' System' : 'Let Us Know' }}
                </span>
                <v-radio-group v-else
                               v-model="data.user.measurement"
                               :mandatory="false">
                    <v-radio label="US System" value="US"></v-radio>
                    <v-radio label="Metric System" value="Metric"></v-radio>
                </v-radio-group>
                <span v-if="validationErrors.measurement" class="validation-error">
                    {{ validationErrors.measurement[0] }}
                </span>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data: () => ({
        update: false,
        gender: null,
        calorie: null,
        data: null,
        validationErrors: [],
        disabled: false,
        lifestyles: [
          'data 1',
          'data 2',
          'data 3'
        ]
    }),
    methods: {
        getData() {
            let self = this

            axios.get("/nutritions-profile/")
              .then(response => {
                  let status = response.data.status

                  if(status == 'success') {
                      self.data = response.data.data
                  } else {
                      //
                  }

              })
              .catch(error => {
                  console.log(error.response)
              })
        },
        updateData() {
            let self = this
            let data = {
                age: self.data.user.age,
                gender: self.data.user.gender,
                measurement: self.data.user.measurement,
                calories: Number.isInteger(self.data.user.calorie) ? self.data.user.calorie : self.data.user.calorie.id,
                lifestyles: typeof self.data.selected_lifestyles[0] === 'object' ? 0 : self.data.selected_lifestyles
            }

            self.disabled = true

            axios.post("/nutritions-profile", data)
              .then(response => {
                  let status = response.data.status
                  self.validationErrors = []
                  self.disabled = false

                  if(status == 'success') {
                      self.update = false
                  } else {
                      console.log('else');
                  }
              })
              .catch(error => {
                  self.validationErrors = error.response.data.errors
                  self.disabled = false
              })
        }
    },
    created() {
        this.getData()
    }
}
</script>
