<template>
    <section class="section-head">
        <div class="container">
            <div class="section-head__container">

            </div><!-- //.section-head__container -->
        </div><!-- //.container -->
    </section>
</template>
