<template>
    <div class="steps">
        <p>Step {{ currentStep }} of {{ steps.length }}</p>
        <ul>      
            <!-- <li class="done"></li> -->
            <li class="active"></li>
            <!-- <li></li>
            <li></li>
            <li></li> -->
        </ul>
    </div>
</template>

<script>
export default {
    props: ['steps', 'currentStep'],
    //
    // data: () => ({
    //
    // }),
}
</script>
