<template>
    <div>
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 389.23 369.5">
 <defs>
    <linearGradient id="linear-gradient" x1="-437.48" y1="152.5" x2="-437.48" y2="366.54" gradientTransform="matrix(-0.99, 0.13, 0.13, 0.99, -172.09, -7.81)" gradientUnits="userSpaceOnUse">
       <stop offset="0" stop-color="#ffcf65"/>
       <stop offset="0.26" stop-color="#ffce62"/>
       <stop offset="0.47" stop-color="#ffcc58"/>
       <stop offset="0.66" stop-color="#fec747"/>
       <stop offset="0.83" stop-color="#fec12f"/>
       <stop offset="1" stop-color="#fdba12"/>
    </linearGradient>
    <clipPath id="clip-path" transform="translate(-2.09 -4.83)">
       <path class="cls-1" d="M319.41,298.61C408.06,283.13,358.34,186.16,339.3,135c-19.38-52.06-47-48.42-47-48.42s-27.5-.21-37.76,37.78C243.76,164.21,180.12,322.93,319.41,298.61Z"/>
    </clipPath>
 </defs>
 <title>Untitled-5</title>
 <polygon class="cls-2" points="12.61 321.17 106.63 321.17 132.14 246.58 1.5 266.85 12.61 321.17"/>
 <path class="cls-2" d="M157,233.39l-18.89,6.26L108.72,326l6.38,8s7.49,8-2.75,8.64c-10.76.62-63.45,5.85-63.45,5.85" transform="translate(-2.09 -4.83)"/>
 <circle class="cls-3" cx="50.62" cy="352.76" r="8.07"/>
 <circle class="cls-3" cx="85.41" cy="349.25" r="8.07"/>
 <line class="cls-2" x1="4.88" y1="283.38" x2="125.98" y2="264.58"/>
 <line class="cls-2" x1="8.07" y1="298.96" x2="119.37" y2="283.7"/>
 <line class="cls-2" x1="10.76" y1="312.11" x2="112.66" y2="303.52"/>
 <line class="cls-2" x1="106.43" y1="251.31" x2="90.71" y2="321.17"/>
 <line class="cls-2" x1="79.69" y1="255.27" x2="76.63" y2="321.17"/>
 <line class="cls-2" x1="58.15" y1="258.49" x2="59.48" y2="321.17"/>
 <line class="cls-2" x1="35.11" y1="261.88" x2="42.28" y2="321.17"/>
 <line class="cls-2" x1="15.79" y1="264.74" x2="27.63" y2="321.17"/>
 <path class="cls-4" d="M312.89,292.44s6,48.58,51,22.79" transform="translate(-2.09 -4.83)"/>
 <path class="cls-5" d="M368.74,305.5c4.51-2.54,4.51-2.54,14.28,15.39,5.39,9.9,10.29,17.63,5.78,20.18-2.45,1.38-10.67-4.78-18.19-13.18C356.66,312.32,364.23,308,368.74,305.5Z" transform="translate(-2.09 -4.83)"/>
 <path class="cls-4" d="M277.15,295.06S228.7,302,255.33,346.48" transform="translate(-2.09 -4.83)"/>
 <path class="cls-5" d="M265.16,351.14c2.62,4.46,2.62,4.46-15.12,14.57-9.8,5.58-17.44,10.63-20.06,6.16-1.44-2.43,4.57-10.76,12.83-18.44C258.11,339.19,262.53,346.68,265.16,351.14Z" transform="translate(-2.09 -4.83)"/>
 <line class="cls-6" x1="237.05" y1="176.52" x2="155.18" y2="228.02"/>
 <ellipse class="cls-7" cx="151.48" cy="233.59" rx="15.19" ry="9.91" transform="translate(-30.52 16.29) rotate(-7.29)"/>
 <polygon class="cls-8" points="292.91 84.25 299.39 67.06 290.71 67.08 296.33 43.14 287.15 46.73 291.2 30.43 284.31 31.32 276.67 0.75 276.03 31.72 268.73 31.12 280.15 46.75 270.74 46.85 281.77 68.01 271.37 67.15 281.33 83.4 292.91 84.25"/>
 <path class="cls-9" d="M319.41,298.61C408.06,283.13,358.34,186.16,339.3,135c-19.38-52.06-47-48.42-47-48.42s-27.5-.21-37.76,37.78C243.76,164.21,180.12,322.93,319.41,298.61Z" transform="translate(-2.09 -4.83)"/>
 <g class="cls-10">
    <path class="cls-11" d="M256,109l5.46,6a.87.87,0,0,0,1.53-.19l5.49-10.32a.89.89,0,0,1,.71-.56.88.88,0,0,1,.82.36l7.91,8.61a.87.87,0,0,0,1.53-.2l5.49-10.32a.87.87,0,0,1,1.53-.2l4,4.31,3.95,4.3a.87.87,0,0,0,1.53-.2l5.49-10.32a.87.87,0,0,1,1.53-.19l7.91,8.6a.87.87,0,0,0,1.53-.19l9.9-18.36" transform="translate(-2.09 -4.83)"/>
    <path class="cls-11" d="M244.77,134.81,255,143.59a1.33,1.33,0,0,0,1.07.33,1.28,1.28,0,0,0,.94-.59l7.55-10.59a1.35,1.35,0,0,1,.95-.59,1.3,1.3,0,0,1,1.06.34l10,8.34a1.29,1.29,0,0,0,1.07.33,1.25,1.25,0,0,0,.94-.59L286.1,130a1.32,1.32,0,0,1,.95-.59,1.26,1.26,0,0,1,1.06.33l5,4.17,5,4.17a1.34,1.34,0,0,0,2-.25l7.54-10.59a1.32,1.32,0,0,1,.95-.59,1.3,1.3,0,0,1,1.06.33l10,8.35a1.3,1.3,0,0,0,1.06.33,1.32,1.32,0,0,0,.95-.59l7.55-10.59a1.31,1.31,0,0,1,.94-.59,1.33,1.33,0,0,1,1.07.34l11.48,9.55" transform="translate(-2.09 -4.83)"/>
    <path class="cls-11" d="M236.13,172.73l7.47,7.61a1.07,1.07,0,0,0,.92.35,1.06,1.06,0,0,0,.8-.57l6.26-10.42a1,1,0,0,1,1.71-.22L262,178a1.06,1.06,0,0,0,.92.35,1.07,1.07,0,0,0,.8-.57l6.25-10.42a1,1,0,0,1,1.72-.22l4.34,4.25,4.34,4.26a1,1,0,0,0,1.71-.22L288.31,165a1.06,1.06,0,0,1,.8-.57,1,1,0,0,1,.91.35l8.69,8.51a1,1,0,0,0,.91.35,1.06,1.06,0,0,0,.8-.57l6.26-10.42a1,1,0,0,1,.8-.57,1,1,0,0,1,.91.35l4.34,4.25,4.34,4.26a1,1,0,0,0,1.72-.22L325,160.3a1,1,0,0,1,.8-.57,1,1,0,0,1,.92.35l8.68,8.51a1,1,0,0,0,1.71-.22L343.41,158a1,1,0,0,1,1.72-.22L357,168.58" transform="translate(-2.09 -4.83)"/>
    <path class="cls-11" d="M226.07,206.78l11.2,9.66a1.3,1.3,0,0,0,1.06.34,1.35,1.35,0,0,0,.95-.59l7.55-10.59a1.28,1.28,0,0,1,.94-.59,1.33,1.33,0,0,1,1.07.33l10,8.35a1.3,1.3,0,0,0,1.06.33,1.32,1.32,0,0,0,.95-.59l7.55-10.59a1.31,1.31,0,0,1,.94-.59,1.33,1.33,0,0,1,1.07.34l5,4.17,5,4.17a1.26,1.26,0,0,0,1.06.33,1.29,1.29,0,0,0,.95-.59l7.55-10.58a1.34,1.34,0,0,1,2-.26l10,8.34a1.31,1.31,0,0,0,1.06.34,1.33,1.33,0,0,0,.95-.59l7.55-10.59a1.28,1.28,0,0,1,.94-.59,1.33,1.33,0,0,1,1.07.33l5,4.17,5,4.18a1.32,1.32,0,0,0,1.06.33,1.28,1.28,0,0,0,.95-.59L333,194.57a1.31,1.31,0,0,1,.95-.59,1.32,1.32,0,0,1,1.06.34l10,8.34a1.34,1.34,0,0,0,2-.26l7.55-10.58a1.34,1.34,0,0,1,2-.26l11.27,8.65" transform="translate(-2.09 -4.83)"/>
    <path class="cls-11" d="M224.18,239.79,235.43,252a.94.94,0,0,0,1.61-.2l5.81-10.37a1,1,0,0,1,.75-.56,1,1,0,0,1,.86.36l8.23,8.56a1,1,0,0,0,.86.36,1,1,0,0,0,.75-.56l5.81-10.36a.94.94,0,0,1,1.61-.21l4.11,4.28,4.11,4.29a1,1,0,0,0,.87.35.93.93,0,0,0,.74-.56L277.36,237a1,1,0,0,1,.75-.57,1,1,0,0,1,.86.36l8.23,8.57a1,1,0,0,0,.86.36,1,1,0,0,0,.75-.57l5.81-10.36a1,1,0,0,1,.74-.57,1,1,0,0,1,.87.36l4.11,4.29,4.11,4.28a1,1,0,0,0,.87.36,1,1,0,0,0,.74-.57l5.81-10.36a1,1,0,0,1,.75-.57,1,1,0,0,1,.86.36l8.23,8.57a1,1,0,0,0,.86.36,1,1,0,0,0,.75-.57l5.81-10.36a.94.94,0,0,1,1.61-.2l4.11,4.28,4.11,4.28a1,1,0,0,0,.87.36,1,1,0,0,0,.75-.56l5.8-10.37a1,1,0,0,1,.75-.56,1,1,0,0,1,.86.36l8.23,8.56a1,1,0,0,0,.86.36,1,1,0,0,0,.75-.56L363.64,226a.94.94,0,0,1,1.61-.21L377.7,238" transform="translate(-2.09 -4.83)"/>
    <path class="cls-11" d="M234.64,273.74l13.67,11.88a1.22,1.22,0,0,0,1.91-.25l7.1-10.52a1.21,1.21,0,0,1,1.9-.25l9.52,8.4a1.23,1.23,0,0,0,1.91-.24l7.1-10.53a1.22,1.22,0,0,1,1.9-.24l4.76,4.2,4.76,4.2a1.23,1.23,0,0,0,1,.34,1.21,1.21,0,0,0,.89-.59l7.1-10.52a1.21,1.21,0,0,1,1.9-.25l9.52,8.4a1.21,1.21,0,0,0,1,.34,1.17,1.17,0,0,0,.89-.58l7.1-10.53a1.2,1.2,0,0,1,.89-.58,1.21,1.21,0,0,1,1,.34l4.75,4.2,4.76,4.2a1.24,1.24,0,0,0,1,.34,1.21,1.21,0,0,0,.89-.59l7.1-10.52a1.21,1.21,0,0,1,.89-.59,1.24,1.24,0,0,1,1,.34l9.52,8.4a1.22,1.22,0,0,0,1.9-.24l7.1-10.53a1.23,1.23,0,0,1,1.91-.24l14,12.59" transform="translate(-2.09 -4.83)"/>
 </g>
 <path class="cls-6" d="M326.78,206.72" transform="translate(-2.09 -4.83)"/>
 <path class="cls-12" d="M286.53,149.06c-3.12,0-5.82-4.79-6.14-10.92a18.2,18.2,0,0,1,1.18-7.92c1-2.24,2.36-3.52,3.93-3.61h.17c3.12,0,5.81,4.8,6.14,10.92a18.46,18.46,0,0,1-1.18,7.92c-1,2.24-2.36,3.53-3.94,3.61Z" transform="translate(-2.09 -4.83)"/>
 <path class="cls-12" d="M285.67,127c2.87,0,5.43,4.67,5.74,10.56s-1.8,10.95-4.74,11.11h-.14c-2.88,0-5.44-4.67-5.75-10.55s1.81-11,4.74-11.11h.15m0-.78h-.19c-1.73.09-3.25,1.46-4.27,3.85a18.65,18.65,0,0,0-1.22,8.09c.35,6.44,3.16,11.3,6.54,11.3h.18c3.43-.18,5.84-5.42,5.49-11.94s-3.15-11.29-6.53-11.29Z" transform="translate(-2.09 -4.83)"/>
 <path class="cls-13" d="M278.18,118.91c.32,6,4.41,8.25,7.34,8.1" transform="translate(-2.09 -4.83)"/>
 <path class="cls-14" d="M274.2,155.44A6.9,6.9,0,1,0,271,168.25a6.81,6.81,0,0,0,3.78-1.37" transform="translate(-2.09 -4.83)"/>
 <path class="cls-12" d="M259.75,150.48c-3.12,0-5.82-4.8-6.14-10.92a18.2,18.2,0,0,1,1.18-7.92c1-2.24,2.36-3.52,3.94-3.61h.16c3.12,0,5.82,4.8,6.14,10.92a18.18,18.18,0,0,1-1.18,7.92c-1,2.24-2.36,3.53-3.94,3.61Z" transform="translate(-2.09 -4.83)"/>
 <path class="cls-12" d="M258.89,128.42c2.88,0,5.43,4.67,5.75,10.55s-1.81,11-4.75,11.11h-.14c-2.88,0-5.43-4.67-5.75-10.55s1.81-11,4.75-11.11h.14m0-.79h-.19c-3.42.18-5.83,5.42-5.48,11.94s3.15,11.3,6.53,11.3h.19c3.42-.18,5.83-5.42,5.48-11.94s-3.15-11.3-6.53-11.3Z" transform="translate(-2.09 -4.83)"/>
 <path class="cls-13" d="M251.41,120.32c.31,6,4.4,8.26,7.34,8.11" transform="translate(-2.09 -4.83)"/>
 <path class="cls-14" d="M296.35,168.32s3.92-5.62,9.1-2.38" transform="translate(-2.09 -4.83)"/>
 <path class="cls-14" d="M267,181a10.54,10.54,0,0,0-3.87,7.47" transform="translate(-2.09 -4.83)"/>
 <path class="cls-14" d="M264.48,184.09c7.14,6.11,19.6,1.19,19.6,1.19,15.71-6.15,17.11-20.25,17.11-20.25" transform="translate(-2.09 -4.83)"/>
 <polygon class="cls-15" points="276.86 211.78 271.69 187.31 305.15 177.43 311.44 203.7 276.86 211.78"/>
 <ellipse class="cls-16" cx="313.24" cy="198.76" rx="12.58" ry="14.37"/>
 <polygon class="cls-17" points="266.75 202.8 276.19 275.11 334.57 268.08 325.59 193.37 318.85 196.06 311.22 193.37 304.93 197.86 300.66 193.37 294.15 199.66 286.07 196.06 281.58 201 276.19 197.86 272.59 201.9 266.75 202.8"/>
 <polyline class="cls-6" points="324.87 170.77 331.8 230.21 278.59 230.58"/>
 <ellipse class="cls-7" cx="274.37" cy="235.37" rx="9.91" ry="15.19" transform="translate(-29.75 31.9) rotate(-7.29)"/>
</svg>
    </div>
</template>

<style scoped>
.cls-1,.cls-11,.cls-13,.cls-14,.cls-2,.cls-4,.cls-6{fill:none;}.cls-2{stroke:#b6bcd0;}.cls-11,.cls-13,.cls-14,.cls-2,.cls-6{stroke-linecap:round;}.cls-11,.cls-13,.cls-14,.cls-2,.cls-4,.cls-6,.cls-8{stroke-linejoin:round;}.cls-2,.cls-4,.cls-6{stroke-width:3px;}.cls-3{fill:#403244;}.cls-13,.cls-14,.cls-4,.cls-6{stroke:#832926;}.cls-5,.cls-7{fill:#f9a21b;stroke-miterlimit:10;}.cls-11,.cls-5,.cls-7{stroke:#f9a21b;}.cls-11,.cls-5,.cls-8{stroke-width:1.5px;}.cls-7{stroke-width:0.75px;}.cls-8{fill:#8ac441;stroke:#8ac441;}.cls-9{fill:url(#linear-gradient);}.cls-10{clip-path:url(#clip-path);}.cls-12{fill:#832926;}.cls-13{stroke-width:1.58px;}.cls-14{stroke-width:2.37px;}.cls-15{fill:#22c0e0;}.cls-16{fill:#ec125f;}.cls-17{fill:#bb978a;}
</style>
