<template>
  <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 497.99 478.42">
   <defs>
     <linearGradient id="linear-gradient" x1="138.13" y1="160.2" x2="138.13" y2="480" gradientUnits="userSpaceOnUse">

         <stop offset="0" stop-color="#ffcf65"/>
         <stop offset="0.26" stop-color="#ffce62"/>
         <stop offset="0.47" stop-color="#ffcc58"/>
         <stop offset="0.66" stop-color="#fec747"/>
         <stop offset="0.83" stop-color="#fec12f"/>
         <stop offset="1" stop-color="#fdba12"/>
      </linearGradient>
      <clipPath id="clip-path" transform="translate(13.38 -1.58)">
         <path class="cls-1" d="M275,480c6.52-68.51-23.41-156.29-37.91-214.29-26.6-106.44-81.65-105.36-81.65-105.36S101.48,153.9,73,226.2C55.49,270.63-6.65,391.23,1.05,480Z"/>
      </clipPath>
   </defs>
   <title>Untitled-7</title>
   <path class="cls-2" d="M409.57,243.15" transform="translate(13.38 -1.58)"/>
   <polygon class="cls-3" points="158.83 168.92 175.34 136.62 158.29 134.74 174.59 88.99 155.79 94.01 167.31 62.93 153.58 63.15 145.31 1.48 137.26 62.12 123.05 59.34 142.03 92.51 123.55 90.66 140.55 134.59 120.32 130.62 136.3 164.7 158.83 168.92"/>
   <path class="cls-4" d="M275,480c6.52-68.51-23.41-156.29-37.91-214.29-26.6-106.44-81.65-105.36-81.65-105.36S101.48,153.9,73,226.2C55.49,270.63-6.65,391.23,1.05,480Z" transform="translate(13.38 -1.58)"/>
   <g class="cls-5">
      <path class="cls-6" d="M79.19,196.23l9.38,13.08a1.73,1.73,0,0,0,3.06-.05l13-19a1.8,1.8,0,0,1,1.51-.94,1.82,1.82,0,0,1,1.55.89l13.62,18.63a1.73,1.73,0,0,0,3.06,0l13-19.05a1.73,1.73,0,0,1,3.06,0l6.81,9.31,6.81,9.32a1.74,1.74,0,0,0,3.06-.05l13-19a1.73,1.73,0,0,1,3.06-.05l13.62,18.63a1.74,1.74,0,0,0,3.06,0l23.45-33.85" transform="translate(13.38 -1.58)"/>
      <path class="cls-6" d="M51.56,244.52,69.72,264a2.63,2.63,0,0,0,4-.06l17.14-19.12a2.65,2.65,0,0,1,4-.06l17.73,18.56a2.63,2.63,0,0,0,4-.06l17.14-19.12a2.6,2.6,0,0,1,2-.95,2.56,2.56,0,0,1,2,.89l8.86,9.28,8.87,9.28a2.56,2.56,0,0,0,2,.89,2.53,2.53,0,0,0,2-.95l17.14-19.11a2.64,2.64,0,0,1,4-.07L198.36,262a2.58,2.58,0,0,0,2,.88,2.53,2.53,0,0,0,2-1l17.14-19.11a2.65,2.65,0,0,1,4-.07L243.94,264" transform="translate(13.38 -1.58)"/>
      <path class="cls-6" d="M26.28,317l13,16.58a2.06,2.06,0,0,0,3.42-.05l14.57-19.08a2,2,0,0,1,3.41-.05L75.84,333a2,2,0,0,0,3.41-.05l14.57-19.08a2,2,0,0,1,3.41-.05l7.59,9.3,7.58,9.31a2,2,0,0,0,3.41-.06l14.57-19.07a2,2,0,0,1,3.42-.06L149,331.89a2,2,0,0,0,3.41-.06l14.57-19.07a2,2,0,0,1,3.42-.05l7.58,9.3,7.58,9.3a2.06,2.06,0,0,0,3.42-.05l14.57-19.08a2,2,0,0,1,3.41-.05l15.17,18.6a2,2,0,0,0,3.41-.05l14.57-19.08a2,2,0,0,1,3.41-.05l20.84,23.9" transform="translate(13.38 -1.58)"/>
      <path class="cls-6" d="M-.94,381.66l19.85,21.42a2.63,2.63,0,0,0,4-.06L40.05,383.9a2.63,2.63,0,0,1,4-.06l17.74,18.57a2.64,2.64,0,0,0,4-.07l17.14-19.11a2.64,2.64,0,0,1,4-.07l8.87,9.29,8.87,9.28a2.55,2.55,0,0,0,2,.89,2.6,2.6,0,0,0,2-.95l17.14-19.12a2.63,2.63,0,0,1,4-.06l17.74,18.56a2.52,2.52,0,0,0,2,.89,2.56,2.56,0,0,0,2-.95l17.14-19.12a2.63,2.63,0,0,1,4-.06l8.87,9.28,8.86,9.28a2.65,2.65,0,0,0,4-.06l17.14-19.11a2.62,2.62,0,0,1,4-.07L233.3,399.7a2.58,2.58,0,0,0,2,.88,2.53,2.53,0,0,0,2-.95l17.14-19.11a2.63,2.63,0,0,1,4-.06l20.22,19.44" transform="translate(13.38 -1.58)"/>
      <path class="cls-6" d="M-11.9,446,7.5,472.4a1.86,1.86,0,0,0,3.21,0l13.67-19.06a1.87,1.87,0,0,1,3.21-.05l14.26,18.62a1.86,1.86,0,0,0,3.21-.05l13.67-19.06a1.91,1.91,0,0,1,1.59-.94,1.88,1.88,0,0,1,1.61.89L69.07,462l7.13,9.31a1.87,1.87,0,0,0,3.21-.05l13.67-19.06a1.9,1.9,0,0,1,1.58-.95,1.93,1.93,0,0,1,1.62.9l14.27,18.62a1.86,1.86,0,0,0,3.2,0l13.67-19.06a1.86,1.86,0,0,1,3.21-.05l7.13,9.3,7.14,9.31a1.89,1.89,0,0,0,1.61.9,1.92,1.92,0,0,0,1.59-.95l13.67-19.06a1.87,1.87,0,0,1,3.21-.05l14.26,18.62a1.86,1.86,0,0,0,3.21-.05l13.67-19.06a1.87,1.87,0,0,1,3.21-.05l7.13,9.31,7.13,9.31a1.87,1.87,0,0,0,3.21,0L230.47,450a1.86,1.86,0,0,1,3.21-.05l14.26,18.62a1.87,1.87,0,0,0,3.21-.05l13.67-19.06a1.92,1.92,0,0,1,1.59-.95,1.89,1.89,0,0,1,1.61.9l21.73,26.86" transform="translate(13.38 -1.58)"/>
   </g>
   <line class="cls-7" x1="376.15" y1="410.32" x2="258.63" y2="405.61"/>
   <path class="cls-8" d="M175.22,303c-6,0-10.79-9.2-11-20.94A34.27,34.27,0,0,1,167,267.27c2-4.14,4.67-6.45,7.63-6.5,6.07,0,10.89,9.2,11.07,20.93a34.17,34.17,0,0,1-2.77,14.78c-1.95,4.14-4.66,6.45-7.63,6.5Z" transform="translate(13.38 -1.58)"/>
   <path class="cls-8" d="M174.73,261.51c5.49,0,10.07,9,10.24,20.21s-4.15,20.43-9.67,20.52h-.08c-5.49,0-10.06-9-10.24-20.21s4.15-20.43,9.68-20.52h.07m0-1.48h-.1c-6.43.1-11.32,9.78-11.13,22s5.34,21.66,11.72,21.66h.1c3.27-.05,6.21-2.51,8.29-6.93a35,35,0,0,0,2.84-15.1c-.19-12.14-5.34-21.66-11.72-21.66Z" transform="translate(13.38 -1.58)"/>
   <path class="cls-9" d="M187.36,245.39c.18,11.24-7.18,16-12.7,16.12" transform="translate(13.38 -1.58)"/>
   <path class="cls-10" d="M199.54,313.33a13,13,0,1,1,7.62,23.58,12.77,12.77,0,0,1-7.25-2.08" transform="translate(13.38 -1.58)"/>
   <path class="cls-8" d="M225.57,302.18c-6,0-10.79-9.19-11-20.93a34.24,34.24,0,0,1,2.77-14.77c2-4.15,4.67-6.46,7.63-6.5,6.07,0,10.89,9.19,11.07,20.93a34.12,34.12,0,0,1-2.77,14.77c-1.95,4.15-4.66,6.45-7.63,6.5Z" transform="translate(13.38 -1.58)"/>
   <path class="cls-8" d="M225.08,260.72c5.49,0,10.07,9,10.24,20.2s-4.15,20.43-9.67,20.52h-.08c-5.49,0-10.06-9-10.24-20.2s4.15-20.44,9.68-20.52h.07m0-1.48H225c-3.26.05-6.21,2.51-8.29,6.92a35,35,0,0,0-2.84,15.1c.19,12.15,5.34,21.66,11.72,21.66h.1c6.44-.1,11.33-9.77,11.13-22s-5.34-21.66-11.71-21.66Z" transform="translate(13.38 -1.58)"/>
   <path class="cls-9" d="M237.71,244.59c.18,11.25-7.18,16-12.7,16.13" transform="translate(13.38 -1.58)"/>
   <path class="cls-11" d="M403.25,298.19l2.67,37s-15.34-2.66-15.34-18.5S403.25,298.19,403.25,298.19Z" transform="translate(13.38 -1.58)"/>
   <path class="cls-12" d="M415.25,319l19.67-9.1s7.33,14.33-2.67,19.33S418.25,324.72,415.25,319Z" transform="translate(13.38 -1.58)"/>
   <path class="cls-11" d="M417.25,387.86l23.08-18.68s5.43,11-3.7,18.68S417.25,387.86,417.25,387.86Z" transform="translate(13.38 -1.58)"/>
   <ellipse class="cls-13" cx="402.28" cy="271.27" rx="10.98" ry="12.46"/>
   <ellipse class="cls-11" cx="448.56" cy="231.65" rx="10.61" ry="11.84" transform="translate(-40.79 276.26) rotate(-32.56)"/>
   <path class="cls-14" d="M452.75,328s-10.5-9,1.75-14c0,0-.75-9.5,1.75-11s7.75,0,7.75,0-2.5-12.17,9.75-4.84c0,0,1.25-5.16,4-6.16s5.25-.5,6.5,2.75-.92,7.25-4,9.75-4.79,11.25-1.54,14.25-8.75,2.5-8.75,2.5,2.25,9.75-7.5,8.25C462.5,329.53,467,342.78,452.75,328Z" transform="translate(13.38 -1.58)"/>
   <line class="cls-15" x1="479.96" y1="309.2" x2="457.63" y2="336.95"/>
   <path class="cls-14" d="M388.9,376.28a7.31,7.31,0,0,1-9.15,1.25,24.06,24.06,0,0,1-8.5-8.35v-7.9s-9.75-10.75-5-14.5a4.77,4.77,0,0,0-1.31-6c-3.19-2.5-3.3-11.5,0-12.25s6.4-1.25,13,10a9.65,9.65,0,0,1,1.08,5.25s11.8,1,9.9,3.75-5.4,8.75-5.4,8.75,10.05,2.49,5.4,10.37C388.9,366.65,394.8,369.53,388.9,376.28Z" transform="translate(13.38 -1.58)"/>
   <line class="cls-15" x1="385.88" y1="344.7" x2="408.88" y2="388.45"/>
   <path class="cls-12" d="M390.58,406l24.67,13.25s4.25-15.75-8.25-20.5S390.58,406,390.58,406Z" transform="translate(13.38 -1.58)"/>
   <path class="cls-16" d="M424,357.53c-2.75-7.5-8.25-11.5-15-5.25-5.82,5.39-1.61,11.33-.34,12.87l5.53-6.81.78.63-5.58,6.87c-1.54,1.72-5.34,6.68-4.66,9.15a1.9,1.9,0,0,0,1.42,1.31c5,1.59,8.35-6.38,8.39-6.46l3.51-7,.89.45-3.46,6.86C424.09,373,426.7,364.89,424,357.53Z" transform="translate(13.38 -1.58)"/>
   <path class="cls-16" d="M454.92,402.81v-7.53h1v7.5c.25,4.18.77,6.16,1.8,6.79.72.43,1.85.28,3.58-.48,3.32-1.47,1.3-8.61.23-11.24l-1.76-5.29,1-.32,1.72,5.18a6.26,6.26,0,0,0,2.81-7.39c-1.5-5.5-6-6-13.25-2.5s-10.5,7-7.75,12.5c2.35,4.71,8.86,3.37,10.68,2.89A.41.41,0,0,1,454.92,402.81Z" transform="translate(13.38 -1.58)"/>
   <path class="cls-16" d="M434.06,298.43l-3.12-5.53.87-.49,3.12,5.54c0,.07,2.81,5.32,5.69,5.86a2.37,2.37,0,0,0,2.09-.66c3.33-2.94,1.13-5.91-3-10.9l-.31-.36-3.5-4.3.78-.63,3.48,4.26A9.33,9.33,0,0,0,441.93,280c-3.43-7-13.64.5-16.91,4s-6.77,12.25-3,16c3.55,3.55,9.79.89,12.14-1.45Z" transform="translate(13.38 -1.58)"/>
   <polygon class="cls-17" points="493.67 415.04 376.15 410.32 384.12 458.49 481.75 465.26 493.67 415.04"/>
   <path class="cls-10" d="M160.08,353.42s-15-8.57-23.3,4.4" transform="translate(13.38 -1.58)"/>
   <path class="cls-10" d="M240.69,350.67a26.55,26.55,0,0,1,16.88,12.84" transform="translate(13.38 -1.58)"/>
   <path class="cls-10" d="M249.79,355c-9.72,21.62-43.42,23.87-43.42,23.87-42.45,2.92-60.87-27.71-60.87-27.71" transform="translate(13.38 -1.58)"/>
   <path class="cls-18" d="M265.11,428.54" transform="translate(13.38 -1.58)"/>
   <polyline class="cls-18" points="277.88 426.21 100.13 450.95 120.17 345.65"/>
   <ellipse class="cls-19" cx="288.59" cy="419.95" rx="25.34" ry="17.1" transform="translate(-102.5 108.46) rotate(-18.04)"/>
   <circle class="cls-20" cx="147.83" cy="318.65" r="13.98"/>
</svg>
</template>

<style scoped>.cls-1,.cls-10,.cls-15,.cls-18,.cls-2,.cls-6,.cls-7,.cls-9{fill:none;}.cls-2{stroke:#dbf1fa;}.cls-10,.cls-15,.cls-18,.cls-2,.cls-6,.cls-7,.cls-9{stroke-linecap:round;}.cls-10,.cls-17,.cls-18,.cls-2,.cls-3,.cls-6,.cls-7,.cls-9{stroke-linejoin:round;}.cls-15,.cls-17,.cls-2{stroke-width:2px;}.cls-3{fill:#8ac441;stroke:#8ac441;}.cls-3,.cls-6,.cls-9{stroke-width:2.96px;}.cls-4{fill:url(#linear-gradient);}.cls-5{clip-path:url(#clip-path);}.cls-19,.cls-6{stroke:#f9a21b;}.cls-17,.cls-7{stroke:#b6bcd0;}.cls-7{stroke-width:6px;}.cls-8{fill:#832926;}.cls-10,.cls-18,.cls-9{stroke:#832926;}.cls-10{stroke-width:4.44px;}.cls-11{fill:#78c054;}.cls-12{fill:#ee3f48;}.cls-13{fill:#f27221;}.cls-14{fill:#3eb881;}.cls-15{stroke:#649a41;}.cls-15,.cls-19{stroke-miterlimit:10;}.cls-16{fill:#fbe5aa;}.cls-17{fill:#b6bcd0;}.cls-18{stroke-width:5.92px;}.cls-19{fill:#f9a21b;stroke-width:1.36px;}.cls-20{fill:#ec125f;opacity:0.5;}
</style>
