<template>
    <div class="text-xs-center">
        <v-dialog content-class="v-dialog-calculator" v-model="showDialog">
            <v-card>
                <v-btn flat class="dialog-close" @click="showDialog = false">
                    <i class="icon icon-close"></i>
                </v-btn>
                <div v-if="!result">
                    <v-card-title>
                        <strong>What’s Your Goal?</strong>
                    </v-card-title>
                    <v-card-text :class="{'shake animated': animated}">
                        <v-radio-group v-model="radios">
                            <v-radio label="You're not working out" value="not_working"></v-radio>
                            <div>
                                <strong>Your workouts are moderately challenging and ...</strong>
                                <v-radio label="you want to maintain weight." value="moderately_maintain"></v-radio>
                                <v-radio label="you want to lose weight." value="moderately_lose"></v-radio>
                            </div>
                            <div>
                                <strong>Your workouts are extremely challenging and...</strong>
                                <v-radio label="you want to maintain weight." value="extremely_maintain"></v-radio>
                                <v-radio label="you want to lose weight." value="extremely_lose"></v-radio>
                            </div>
                        </v-radio-group>

                        <div class="input-group">
                            <p>Current Weight</p>
                            <div>
                                <v-text-field :hide-details="true" type="number" v-model="weight" flat solo></v-text-field>
                                <span>.lbs</span>
                            </div>
                        </div>
                    </v-card-text>
                    <div class="buttons-wrap">
                        <v-btn color="primary" class="btn-big" @click="calculate" :disabled="submitted">Calculate</v-btn>
                    </div>
                </div>
                <div v-else>
                    <v-card-title>
                        <strong>{{ result.range }} Calories</strong>
                    </v-card-title>
                    <v-card-text>
                        <div class="buttons-wrap">
                            <v-btn color="primary" class="btn-big" @click="setCalorieBrackets(result.rangeId)" :disabled="submitted">Use This Plan</v-btn>
                            <v-btn color="primary" class="btn-big btn-white" @click="result = null">
                                Recalculate Plan
                            </v-btn>
                        </div>
                    </v-card-text>
                </div>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import { ranges } from '../../store/variables'

export default {
    props: {
        value: Boolean
    },
    data: () => ({
        animated: false,
        radios: null,
        weight: null,
        calculator: true,
        result: null,
        submitted: false,
        actionPost: '/step/2',
        nextPage: '/step/3',
    }),
    methods: {
        calculate() {
            let self = this
            let data =  {
                    goal: self.radios,
                    weight: self.weight
                }
            self.submitted = true

            axios.post('/calorie-calculator', data)
                .then(response => {
                    self.submitted = false
                    if(response.data.status == 'success') {
                        self.result = {
                            rangeId: response.data.data.target,
                            range: response.data.data.calorie_from + ' – ' + response.data.data.calorie_to
                        }
                    } else {
                        self.$swal({
                            type: response.data.status,
                            title: 'Something went wrong!',
                            text: 'Refresh page and try again.',
                            padding: '20px',
                        })
                    }
                })
                .catch(error => {
                    self.submitted = false
                    // self.serverErrors = error.response.data.errors
                    console.log(error.response)
                    self.animateShake()
                })
        },
        setCalorieBrackets(targetId) {
            var self = this;
            var data = {
                calorie_brackets: targetId,
                nursing: 0,
            }

            this.submitted = true

            axios.post(self.actionPost, data)
                .then(response => {
                    if(response.data.status === 'success') {
                        self.$router.push(self.nextPage)
                    } else {
                        self.$swal({
                            type: response.data.status,
                            title: 'Something went wrong!',
                            text: response.data.errors.message,
                            padding: '20px',
                        })
                    }
                })
                .catch(error => {
                    self.submitted = false
                    console.log(error.response)
                    // self.serverErrors = error.response.data.errors
                })
        },
        closeDialog() {
            this.$emit('update', false)
        },
        animateShake: function() {
            var self = this;
            self.animated = true;
            setTimeout(function() {
                self.animated = false;
            }, 1000);
        }

    },
    computed: {
        showDialog: {
            get () {
                return this.value
            },
            set (value) {
                this.$emit('input', value)
            }
        }
    }
}
</script>
<style scoped>
  .shake {
      -webkit-animation: kf_shake 0.4s 1 linear;
      -moz-animation: kf_shake 0.4s 1 linear;
      -o-animation: kf_shake 0.4s 1 linear;
  }
  @-webkit-keyframes kf_shake {
      0% { -webkit-transform: translate(30px); }
      20% { -webkit-transform: translate(-30px); }
      40% { -webkit-transform: translate(15px); }
      60% { -webkit-transform: translate(-15px); }
      80% { -webkit-transform: translate(8px); }
      100% { -webkit-transform: translate(0px); }
  }
  @-moz-keyframes kf_shake {
      0% { -moz-transform: translate(30px); }
      20% { -moz-transform: translate(-30px); }
      40% { -moz-transform: translate(15px); }
      60% { -moz-transform: translate(-15px); }
      80% { -moz-transform: translate(8px); }
      100% { -moz-transform: translate(0px); }
  }
  @-o-keyframes kf_shake {
      0% { -o-transform: translate(30px); }
      20% { -o-transform: translate(-30px); }
      40% { -o-transform: translate(15px); }
      60% { -o-transform: translate(-15px); }
      80% { -o-transform: translate(8px); }
      100% { -o-origin-transform: translate(0px); }
  }
</style>
