<template>
    <md-dialog class="dialog dialog-login" :md-active.sync="showDialog" @md-closed="closeDialog">
        <md-button class="dialog-close" @click="closeDialog">
            <i class="icon icon-close"></i>
        </md-button>
        <md-content v-if="!reset">
            <div class="dialog-head">
                <strong>Login</strong>
            </div>
            <form>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input name="email" type="email" id="email" v-model="email">
                    <span v-if="validationErrors.email" class="validation-error">
                        {{ validationErrors.email[0] }}
                    </span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" type="password" id="password" v-model="password">
                    <span v-if="validationErrors.password" class="validation-error">
                        {{ validationErrors.password[0] }}
                    </span>
                </div>
                <p v-if="serverErrors" class="alert alert-danger">{{ serverErrors }}</p>
                <div class="buttons-wrap">
                    <v-btn color="primary" @click="login" class="btn-big" :disabled="submitted">Submit</v-btn>
                </div><!-- //.buttons-wrap -->
                <p>
                    <a href="#" @click.prevent="reset = true;">Forgot Your Password?</a>
                </p>
            </form>
        </md-content>
        <md-content v-else>
            <div class="dialog-head">
                <strong>Forgot Password?</strong>
            </div>
            <div v-if="successMessage">
                <p class="alert alert-success">{{ successMessage }}</p>
                <v-btn
                  color="primary"
                  @click="closeDialog"
                >
                  OK
                </v-btn>
            </div>
            <form v-else>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input name="email" type="email" id="email" v-model="resetpassEmail">
                    <span v-if="validationErrors.email" class="validation-error">
                        {{ validationErrors.email[0] }}
                    </span>
                </div>
                <p v-if="serverErrors" class="alert alert-danger">{{ serverErrors }}</p>
                <div class="buttons-wrap">
                    <v-btn color="primary" @click="forgotPassword" class="btn-big" :disabled="submitted">Submit</v-btn>
                </div><!-- //.buttons-wrap -->
            </form>
        </md-content>
    </md-dialog>
</template>

<script>
export default {
    props: ['dialog'],
    data: function() {
        return {
            submitted: false,
            email: null,
            password: null,
            resetpassEmail: null,
            validationErrors: [],
            serverErrors: null,
            successMessage: null,
            reset: false
        }
    },
    methods: {
        login() {
            var self = this
            self.submitted = true;

            this.$store.dispatch('auth', {
                action: 'login',
                email: this.email,
                password: this.password,
            })
            .then((response) => {
                self.$router.push('meal-plan/show')
                self.$store.dispatch('getUser')
            })
            .catch(error => {
                self.submitted = false;
                self.validationErrors = error.data.errors

                if(error.data.errors.message)
                    self.serverErrors = error.data.errors.message
            })
        },
        closeDialog() {
            this.reset = false
            this.$emit('update', false)
        },
        forgotPassword() {
            let self = this
            self.submitted = true

            axios.post("/password/create", {
                email: self.resetpassEmail
            })
              .then(response => {
                  let status = response.data.status
                  self.validationErrors = []
                  self.submitted = false

                  if(status == 'success') {
                      self.successMessage = response.data.data.message
                  }
              })
              .catch(error => {
                  self.validationErrors = error.response.data.errors
                  self.submitted = false
              })
        }
    },
    computed: {
        showDialog: {
            get () {
                this.validationErrors = []
                this.serverErrors = null
                this.successMessage = null
                this.reset = false

                return this.dialog
            },
            set (value) {
                this.closeDialog()
            }
        }
    }
}
</script>
