<template>
    <md-dialog class="dialog dialog-recipe" :md-active.sync="showDialog" @md-closed="closeDialog">
        <md-button class="dialog-close" @click="closeDialog">
            <i class="icon icon-close"></i>
        </md-button>
        <md-content v-if="recipe">
            <div class="row recipe">
                <div class="col-left">
                    <div class="recipe__attachment">
                        <img src="/images/recipe.png" />
                        <!-- <div class="recipe__rate">
                            <md-button @click="like = true; dislike = false" class="md-raised btn-like"></md-button>
                            <md-button @click="like = false; dislike = true" class="md-raised btn-dislike"></md-button>
                        </div> -->
                        <!-- //.recipe-detail__rate -->
                        <transition name="fade" mode="out-in">
                            <div v-if="like" class="recipe__action">
                                <md-button>Save to Favorite Recipes</md-button>
                                <md-button>Repeat Next Week</md-button>
                            </div><!-- //.recipe-recipe__action -->
                        </transition>
                        <transition name="fade" mode="out-in">
                            <div v-if="dislike" class="recipe__action">
                                <strong>We’ll swap this recipe for you.</strong>
                                <md-button>Don’t Show Me This Recipe Again</md-button>
                                <md-button>Skip This Recipe This Week</md-button>
                            </div><!-- //.recipe-recipe__action -->
                        </transition>
                    </div><!-- //.recipe-detail__attachment -->
                </div><!-- //.col-left -->
                <div class="col-right">
                    <div class="recipe__content">
                        <ul class="recipe__lifestyle">
                            <li v-for="lifestyle in recipe.dietary_lifestyles">
                                <i  v-if="" v-bind:class="'icon icon-' + lifestyle.name.toLowerCase().split(' ').join('-')"></i>
                            </li>
                        </ul>

                        <h3>{{ recipe.name }}</h3>

                        <div v-if="recipe.servings" class="recipe__servings">
                            <span>Servings: <b>{{ recipe.servings }}</b></span>
                        </div><!-- //.servings -->

                        <div class="recipe__cooking-time">
                            <div>
                                <i class="icon icon-prep"></i>
                                <span>Prep.</span>
                                <strong>{{ recipe.display_prep_time }}</strong>
                            </div>
                            <div>
                                <i class="icon icon-prep"></i>
                                <span>Cook.</span>
                                <strong>{{ recipe.display_cook_time }}</strong>
                            </div>
                        </div><!-- //.cooking-time -->

                        <div v-if="recipe.recipe_ingredients.length" class="recipe__ingredients">
                            <div>
                                <div class="recipe__ingredients--title">
                                    <h5>Ingredients</h5>
                                    <h5>Container Count</h5>
                                </div>
                                <ul>
                                    <li v-for="recipe_ingredients in recipe.recipe_ingredients">
                                        <span>
                                            <span v-if="recipe_ingredients.qty">
                                                {{ recipe_ingredients.qty }}
                                            </span>
                                            <span v-if="recipe_ingredients.measurement != null">
                                                {{ recipe_ingredients.measurement.name }}
                                            </span>

                                            <span>
                                                {{ recipe_ingredients.ingredients.name }}
                                            </span>
                                        </span>

                                        <div>
                                            <span v-if="recipe_ingredients.ingredients.red_containers > 0">
                                                <i class="recipe__ingredients--red"></i>
                                                <span>{{ parseInt(recipe_ingredients.ingredients.red_containers) }}</span>
                                            </span>
                                            <span v-if="recipe_ingredients.ingredients.green_containers > 0">
                                                <i class="recipe__ingredients--green"></i>
                                                <span>{{ parseInt(recipe_ingredients.ingredients.green_containers) }}</span>
                                            </span>
                                            <span v-if="recipe_ingredients.ingredients.purple_containers > 0">
                                                <i class="recipe__ingredients--purple"></i>
                                                <span>{{ parseInt(recipe_ingredients.ingredients.purple_containers) }}</span>
                                            </span>
                                            <span v-if="recipe_ingredients.ingredients.yellow_containers > 0">
                                                <i class="recipe__ingredients--yellow"></i>
                                                <span>{{ parseInt(recipe_ingredients.ingredients.yellow_containers) }}</span>
                                            </span>
                                            <span v-if="recipe_ingredients.ingredients.blue_containers > 0">
                                                <i class="recipe__ingredients--blue"></i>
                                                <span>{{ parseInt(recipe_ingredients.ingredients.blue_containers) }}</span>
                                            </span>
                                            <span v-if="recipe_ingredients.ingredients.orange_containers > 0">
                                                <i class="recipe__ingredients--orange"></i>
                                                <span>{{ parseInt(recipe_ingredients.ingredients.orange_containers) }}</span>
                                            </span>
                                            <span v-if="recipe_ingredients.ingredients.spoon_containers > 0">
                                                <i class="recipe__ingredients--grey"></i>
                                                <span>{{ parseInt(recipe_ingredients.ingredients.spoon_containers) }}</span>
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- //.recipe__imgredients -->

                        <div v-if="recipe.preparation" class="recipe__preparation">
                            <h5>Recipe</h5>
                            <div>
                                {{ recipe.preparation }}
                            </div>
                        </div><!-- //.recipe__preparation -->

                    </div><!-- //.recipe__content -->
                </div><!-- //.col-right -->
            </div><!-- //.row -->
        </md-content>
    </md-dialog>
</template>

<script>
export default {
    props: ['dialog', 'recipeUrl'],
    data: function() {
        return {
            like: false,
            dislike: false,
            recipe: null,
            recipes: [],
            currentRecipe: null
        }
    },
    methods: {
        closeDialog() {
            this.$emit('update', false)
            Object.assign(this.$data, this.$options.data())
        },
        getRecipe(recipeUrl) {
            var self = this
            // let test = this.recipes.filter(recipe => recipe.id === recipeUrl)
            // console.log(this.recipes)
            axios.get('recipe/'+recipeUrl)
                .then(response => {
                    self.recipe = response.data.data
                    // this.recipes.push(this.recipe)
                    // console.log(response.data.data)

                })
                .catch(error => {
                    console.log(error.response)
                })
        }
    },
    computed: {
        showDialog: {
            get () {
                if(this.dialog == true)
                    this.getRecipe(this.recipeUrl)

                return this.dialog
            },
            set (value) {
                this.closeDialog()
            }
        }
    },
    created() {
        // this.getRecipe(this.recipeUrl)
    },
    reset() {
        Object.assign(this.$data, this.$options.data())
    }
}

</script>

<style scoped>
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
    position: absolute;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
    position: absolute;
}
</style>
