<template>
    <div class="text-xs-center">
        <v-dialog content-class="v-dialog-terms dialog" v-model="showDialog" width="600">
            <v-card>
                <v-btn flat class="dialog-close" @click="showDialog = false">
                    <i class="icon icon-close"></i>
                </v-btn>
                <v-card-title class="headline" primary-title>
                    Privacy Policy
                </v-card-title>

                <v-card-text>
                SimplyFork’d is intended to provide useful dietary information.
                SimplyFork’d is not engaged in rendering medical advice, counseling or other services.
                The services offered are not designed nor intended for use in the diagnosis or treatment
                of any disease or condition. Nor is it intended to cure, treat, mitigate or prevent
                any disease or condition. SimplyFork’d only seeks to provide information about
                your current nutritional guidelines and goals. This information is not intended
                to supplant your own best judgment as to your dietary requirements and/or that
                of your medical care provider regarding your diet. Consult your medical care
                provider regarding any medical conditions you may have or are concerned about
                regarding your nutrition or any other general conditions. If in the use of
                SimplyFork’d’s services, you experience any discomfort or develop any unusual
                conditions, cease using the services and seek immediate medical attention.

                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" @click="showDialog = false;">
                        OK
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>
<script>
export default {
    props: {
        value: Boolean
    },
    computed: {
        showDialog: {
            get () {
                return this.value
            },
            set (value) {
                this.$emit('input', value)
            }
        }
    }
}
</script>
